[2015-01-21 19:54] #1025 closed

[2015-01-21 23:22] n1c01a5 commented on #1022
It's works.
@phiamo thx

[2015-01-21 23:22] #1022 closed

[2015-01-22 13:18] phiamo commented on #1022
perfect, sorry again!

[2015-01-22 13:21] phiamo commented on #1014
@piotrantosik can you check #1027 if it fixes your problem?

[2015-01-22 13:42] phiamo commented on #1016
I would say let the BC Layer in for 3.0 and remove in next Version.

[2015-01-22 13:46] phiamo commented on #1001
done

[2015-01-22 13:46] #1001 closed

[2015-01-22 15:32] piotrantosik commented on #1014
@phiamo not fixed, maybe this screencast can be helpful, ping @molchanoviv
http://youtu.be/pxYOLVKKlAw

[2015-01-22 15:38] #1016 closed

[2015-01-22 15:56] phiamo commented on #1016
:-)

[2015-01-25 14:46] Misiur opened #1029 "Replacement pattern for collection label is flawed"
This is  an excerpt from a specific pull-request which should fix #1014  https://github.com/phiamo/MopaBootstrapBundle/blob/89344f914155a7bcf805cf5354bd3ad208a94f11/Resources/public/js/mopabootstrap-collection.js#L73

However the regex for label matching is the same as the one for field name matching:
```((\"|&quot;|'|&#039;)((?!(\"|&quot;|'|&#039;|" + prototype_label + ")).)+?)(" + prototype_labe

[2015-01-27 14:58] Misiur commented on #1029
Fixed in https://github.com/phiamo/MopaBootstrapBundle/pull/1027#issuecomment-71635936

[2015-01-27 14:58] #1029 closed

[2015-01-28 12:32] peshi commented on #864
@phiamo Have been away for a while, I'll look into it as soon as possible.

[2015-01-28 12:32] peshi commented on #862
@phiamo Have been away for a while, I'll look into it as soon as possible.

[2015-01-28 22:07] LaRitournelle commented on #839
Same problem for me ...
I checked all my configuration,  I tried the trick but It doesn't work.

[2015-02-06 15:39] alexdrupal opened #1031 "Remove number lables from collection subform"
Hi Folks

I have a subform of collection type. How can I remove numbers from it?
![collection](https://cloud.githubusercontent.com/assets/38625/6082079/675801f8-ae2f-11e4-877f-ac7e57331cb7.png)

[2015-02-07 22:13] grimmlink commented on #1031
[code]

in your collection formtype

[2015-02-09 07:14] alexdrupal commented on #1031
Thank you! Thank you! Thank you!
Can't believe I spent so much time on this.

[2015-02-16 10:03] giero opened #1032 "Empty html5bp_script.js crashes yuicompressor"
Hello,

During dumping assets with yuicompressor on prod environment empty `html5bp_script.js` crashes yuicompressor.

My config for prod:

[code]

For the curious it looks like this: http://pastebin.com/36erinz0

Interesting is that this file is added to assets in `MopaBootstrapBundle::base_initializr.html.twig` - I do not use it at all. My `layout.html.twig` inherits from `MopaBootstrapBundle::b

[2015-02-16 12:23] phiamo commented on #1032
We need to remove these old files soin. Atm i am not sure how to disable assetic dumping these

[2015-02-16 13:29] giero commented on #1032
Ok, I have found simple solution: because in my bundle there's file `assets.html.twig` with dumps config like
[code]
I cane make
[code]
in it and then remove `MopaBootstrapBundle` from
[code]

I still have whole MopaBootstrap dumped then and no from-vendor dumps :)

[2015-02-19 09:24] 5zymon opened #1033 "widget_remove_btn does not work in collection (but it works in config.yml)."
Hello,

I am using  "mopa/bootstrap-bundle": "3.*@dev" version of MopaBootstrapBundle, and I am having problems trying to override remove button settings in collection.  In my collection I am trying to do this

                    'widget_remove_btn' => array(
                        'label' => 'Remove Filter',
                        'attr' => array(
                            'class' => 'btn bt

[2015-02-23 15:36] bertrandg commented on #979
hi,
I got the same error on windows too (using sass instead of less) and here is the exception trace:

[code]

[2015-02-23 16:08] daFish commented on #911
@phiamo Unfortunatly not. I'm currently wrestling with an implementation by overriding various blocks from the form theme to customize it for my needs. This is far from perfect and should only give me a first idea how it might by improved.
The issue @skypeter1 has also caught me and I'm trying to fix it. Not sure how this ends. At least I can show my collection in a table and add new rows to it.

[2015-02-24 10:32] daFish opened #1034 "[DX] Simplify customization of collection rendering"
I'm currently trying to customize the rendering of a collection to be able to display the collection entries in a table rather than divs.

My approach was as following:
- create a new form theme for this special purpose.
- override the following blocks to modify them for my needs `collection_widget`, `form_row`, `widget_form_group_start`, `widget_form_group_end`
- override the rendering of the col

[2015-02-24 12:30] daFish commented on #1034
Added another note: `Another issue that came up was already having items in my collection. These need to be displayed as well which isn't the case right now.`

[2015-02-24 20:09] sgregoire commented on #930
You can use bootstrap.min.css to avoid this error.

[2015-02-24 20:52] 0x46616c6b commented on #930
I see in newer versions the map file isn't the css files, so I can close that issue.

[2015-02-24 20:52] #930 closed

[2015-02-26 17:29] grimmlink opened #1037 "mopa:bootstrap:symlink:sass uses wrong pathToTwitterBootstrapSass"
Hi,

I tried many times to use the command line to generate the link between bootstrap bundle and bootstrap-sass, and everytime the create symlink is wrong.

Example:

[code]

the symlink created :
`vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/bootstrap-sass -> vendor/twbs/bootstrap-sass`
which is wrong

That's from [BaseBootstrapSymlinkCommand](https://github.com/phia

[2015-02-26 22:20] WarGot-by opened #1038 "Form tabs. Change tab with error field after validation"
Hi all. I need help -)
I use this example for create tabs http://bootstrap.mohrenweiserpartner.de/mopa/bootstrap/tabs
Open the second tab. Then click "Save changes", appear error fields. Somewhere at the top of the page. How to make to switch tabs. On the one where the error occurred.

[2015-02-27 01:06] isometriks commented on #1038
Are you looking to do this front-end with HTML5 validation? I actually went through this same thing, here ya go: http://isometriks.com/highlight-twitter-bootstrap-error-in-forms-with-ta

The jQuery can probably be simplified a bit but you can get the idea.

[2015-02-27 18:27] rohrzange commented on #298
On Windows if php app/console mopa:bootstrap:symlink:less/sass

[2015-02-27 18:41] rohrzange commented on #298
I just stumbled across the same issue and fixed it like this:

For MS Windows:
if
php app/console mopa:bootstrap:symlink:less
fails it might be a better idea to create the symlink manually with pure Windows OS commands (after all the command above does roughly the same I think).
So on MS Windows do the following to let MopaBootstrapBundle find the bootstrap files in order to import them correctly:

[2015-03-03 15:08] emil-nasso opened #1041 "assetic:dump prints errors related to MopaBootstrapBundle"
I get the following error when dumping assets, `php app/console assetic:dump`. If i run the command twice, the errors does not appear on the second run. If i re-run composer install (or redeploy) the error reapper when dumping again.

[code]

This is how the scripts in my composer file looks.

[code]

I am using less in my application, not sass.

[2015-03-03 17:10] isometriks commented on #1041
Can you post your configuration for assetic? It is probably trying to dump all the stylesheets tags in MopaBootstrap when you should just be extending these templates and adding your local bundle

[2015-03-04 07:00] emil-nasso commented on #1041
Ah. Okay.

Here it is:
´´´
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        [ "MopaBootstrapBundle"]
    read_from:      "%kernel.root_dir%/../../htdocs/symfony"
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        #closure:
        #    jar: "%kernel.root_dir%/Resources/java/compiler.jar"
        #yui_css:
        #    jar: "%kernel.root_d

[2015-03-04 15:02] isometriks commented on #1041
Yeah, remove MopaBootstrapBundle from the `bundles` list. If you extend one of the templates from this bundle in your /app folder then it should automatically dump the assets because you're extending the template. If you have another local bundle like AppBundle or something, you can add that instead. The way you have it now assetic is going to look through all of MopaBootstrap for `{% stylesheet %

[2015-03-05 18:35] daFish commented on #1034
@isometriks @phiamo @jdespatis Any input on this?

[2015-03-06 03:42] ivansf commented on #985
I can confirm this still happens with beta 4.

      "mopa/bootstrap-bundle": "v3.0.0-beta4",
      "twbs/bootstrap-sass": "~3.3.0"

I also had to change that line

[2015-03-06 13:13] Misiur commented on #1033
Remove has to be inside "options" attribute, as it applies to collection items, not whole collection. That's weird, but makes sense.

[2015-03-07 15:41] piux commented on #979
hi i have the same issue, any fix yet?

[2015-03-08 19:16] wizardz commented on #979
seems like not a windows problem, the same issue if I run this on mac os

[2015-03-13 10:59] toby-griffiths opened #1047 "FormActionsType not documented"
I've just found the FormActionsType class while debugging a form.

I couldn't find anything in the documentation about this, and ended up implementing my own 'buttons' type.

Raising this issue, to flag the need to add this to the documentation on http://bootstrap.mohrenweiserpartner.de/mopa.

I followed the 'Fork me' link on the site, but it's forking the bundle, not the demo site.

If you want t

[2015-03-13 11:13] phiamo commented on #1047
Hi @toby-griffiths,
have a look in here https://github.com/phiamo/MopaBootstrapSandboxBundle this drives the demo site.

[2015-03-18 20:58] henrypenny commented on #1037
I encountered this problem a long time ago, and I had to write a compiler pass to correct this.
I recently upgraded the project to symfony ~2.6 and it seemed I still required the compiler pass.
I don't know if this is the correct solution, but it did work in my project.

Compiler pass:

    <?php
    namespace <Bundle>\DependencyInjection\Compiler;

    use Symfony\Component\DependencyInjection\Co

[2015-03-23 12:21] irisSchaffer opened #1051 "help_block is not displayed"
`help_block` is not displayed on the master branch, because the `if`-statement of the `form_message`-block in [`Resources/views/Form/fields.html`](https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/views/Form/fields.html.twig)  does not work:

    {% block form_message %}
    {% spaceless %}
        {{ form_errors(form) }}
        {# certain cases require to have the help somewher

[2015-03-24 19:45] #1014 closed

[2015-03-25 05:46] isometriks commented on #1051
Hmm yeah, https://github.com/phiamo/MopaBootstrapBundle/commit/c3e88905e9b5a0404d3dbd53122d54081ba6d51c causes this. I had noticed my help blocks missing too and hadn't looked into it. I'll figure something out tomorrow

[2015-03-25 14:09] irisSchaffer commented on #1051
Cheers!

[2015-03-25 14:52] isometriks commented on #1051
https://github.com/phiamo/MopaBootstrapBundle/pull/1053/files should do it, or looks to work for me. Want to try that out quick?

[2015-03-25 14:56] isometriks commented on #1051
@phiamo I think this still keeps what you wanted. Putting the help_block for checkbox = label into the label itself, and for widget / both putting it under the lable, correct?

[2015-03-25 15:11] irisSchaffer commented on #1051
@isometriks looks fine to me, my `help_block`s are working as expected again.

[2015-03-25 15:26] #1051 closed

[2015-03-25 15:27] isometriks commented on #1024
We should get this back up running again and probably release a 3.0 soon, haven't had any big issues lately so let's just get it over with!

[2015-03-26 10:41] jackbentley opened #1055 "Font awesome version"
The font awesome icons provided by mopa are not up to date. Its missing icons such as `user-add`.

Ideally, mopa should have a dependency in composer on the font-awesome repo - https://github.com/FortAwesome/Font-Awesome

This would allow people to choose their own version at will.

[2015-03-30 11:24] peshi opened #1057 "Current automenu 'list-group' doesn't support link hover states."
There should be an option to be able to decorate automenu 'list-group' with div instead of ul in order to benefit from Bootstraps linked list items.

Ref: https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_list-group.scss#L41

Example.

[code]

[2015-03-30 13:23] peshi commented on #1057
An example of how to accomplish the above with knp_menu_render

https://gist.github.com/peshi/82997acb75cd1107c959

[2015-04-03 11:03] tulanowski opened #1058 "menu: option 'dropdown' overwrites classes on this menu item"
When you set some class on element item and you add some children to this element, then this class is overwritten by 'dropdown' (and optionally 'caret') class. In my opinion 'dropdown' class should be appended to previously set classes.

[2015-04-09 09:26] Tjeerd commented on #1041
I've got the same issue, removing `MopaBootstrapBundle` from the `bundles` option doesn't work either because then an error is shown which tells you to add the bundle to the `bundles` list again ;)

[2015-04-27 09:54] Soullivaneuh commented on #1055
@jackbentley How is font-awesome provided actually? On which subpackage?

[2015-04-27 10:10] Soullivaneuh commented on #1024
@phiamo Not sure, but I think could be closed also.

Now all is green on Travis, even if SF 2.7/2.8/3.0 allowed failures! ;-)

[2015-04-27 10:11] phiamo commented on #1024
jau thanks!

[2015-04-27 10:11] #1024 closed

[2015-04-27 10:18] jackbentley commented on #1055
They're located in mopa in sub-directories withing MopaBootstrapBundle/Resources/public/.

[2015-04-27 10:41] Soullivaneuh commented on #1055
ping @phiamo what do you think? Could be indeed better to add it as a dependencies.

Or just a suggestion because some developers use bower/npm for assets dependencies.

[2015-04-27 10:44] phiamo commented on #1055
yeah in future that makes sense, but for 3.0 release i think we need to stick to BC compat and have them there, also some of these are especially modified for this bundle needs ...

[2015-04-27 10:47] Soullivaneuh commented on #1055
Ok.

@jackbentley Just for information, I use this bundle with font-awesome from bower deps, cause no problem. Maybe you should include your own. :+1:

[2015-04-27 13:29] phiamo commented on #1038
so can we close this ?

[2015-04-27 13:30] phiamo commented on #1057
should we extend the template?

[2015-04-27 13:30] phiamo commented on #1058
can you isolate where the problem comes from?

[2015-04-27 13:31] phiamo commented on #1047
@toby-griffiths is this solved for you, or do you think we should add more doc somewhere, and could you take care of it?

[2015-04-27 13:32] #1038 closed

[2015-04-27 13:34] phiamo commented on #1034
@daFish sry didnt get github notifications for a while :/
is this problem also there when not overriding the default behavios? probably for the row not found you might need to adapt the selectors used in the js

[2015-04-27 13:35] phiamo commented on #1033
so we can close this.

[2015-04-27 13:35] #1033 closed

[2015-04-27 13:35] phiamo commented on #1032
humpf, could you create a cookbook like article for this prob?

[2015-04-27 13:35] #1013 closed

[2015-04-27 13:36] phiamo commented on #989
ping @isometriks

[2015-04-27 13:37] #949 closed

[2015-04-27 13:37] #843 closed

[2015-04-27 13:50] tulanowski commented on #1058
Yes, it happens here:
https://github.com/phiamo/MopaBootstrapBundle/blob/master/Menu/Factory/MenuDecorator.php#L61

Something like this:
[code]
should fix the problem.

I think that this problems also affects other options like 'pills', 'stacked', 'list-group', etc. Most of those options overwrite 'class' either with setAttribute() or setChildrenAttribute().

[2015-04-27 14:07] phiamo commented on #1058
can you create a pr for this

[2015-04-27 15:31] phiamo commented on #921
@LouTerrailloune could you add that snippet somewhere

[2015-04-27 15:34] phiamo commented on #1000
@isometriks @cordoval since the most things are actually working and recent work on travis by @Soullivaneuh as well as a lot of improvements were made, i would like to release a RC1 soon.

[2015-04-27 15:40] LouTerrailloune commented on #921
The snippet is in PR #1026 (with other thing)

[Page in the PR](https://github.com/LouTerrailloune/MopaBootstrapBundle/blob/93e948dd219d3add24394ad391528f0e8446b4f5/Resources/doc/index.md)

[2015-04-27 15:42] Soullivaneuh commented on #1000
@phiamo I'm was just wondering the same asking for 3.0 release.

What else should be made before it? Could I help on any plan?

Regards

[2015-04-27 16:01] toby-griffiths commented on #1047
@phiamo Thanks for getting back to me.  I still couldn't find reference to the FormActionsType class anywhere in the Sandbox site code, either

[2015-04-27 17:19] phiamo commented on #921
so this can be closed ?

[2015-04-27 17:22] isometriks commented on #921
Eh, not really. The documentation is still pretty poorly organized imo

[2015-04-27 17:25] phiamo commented on #921
reading helps :-)

[2015-04-27 17:36] LouTerrailloune commented on #921
@isometriks Are you talking about PR #1026 or current one ? What do you suggest ?

[2015-04-27 17:45] LouTerrailloune commented on #921
@phiamo Don't close if the PR is not merged.

[2015-04-27 17:54] isometriks commented on #921
Sorry, didn't notice that PR was dedicated to fixing the docs, but there's still a few random things here and there. The README.md has 2 places with BC breaks, it has the tabs section that just says "needs more info" just small things that need to be cleaned up or linked to. The further documentation part about MenuBuilder links to the sandbox where there is only a voter. Just needs some more love

[2015-04-27 17:55] phiamo commented on #921
@isometriks this last comment was meant from me to me not you :) sure there is a lot more to do before we close this one ...

[2015-04-27 17:56] isometriks commented on #921
@phiamo haha no problem, I didn't really take it that way anyway

[2015-04-27 18:43] peshi commented on #1057
@phiamo I'll check so that it doesn't interfere with intended behaviour of automenu and create a PR.

[2015-04-27 19:21] phiamo commented on #1057
@peshi thanks a lot!

[2015-04-27 21:08] henrypenny commented on #843
Sorry for the late reply @phiamo I didn't actually change the project code for my work around, the compiler pass was added to my own bundle.

[2015-04-30 09:50] daFish commented on #1034
@phiamo
When I use the default behavior it works as expected. So I guessed that there might be something missing.

Is it already possible to do this for the JS? If so, that would be great.

[2015-05-16 09:24] cordoval commented on #1000
@phiamo nobody is holding you, just yourself :+1: go for it and release not RC but a release! :sheep: :it:

[2015-05-18 09:45] MisatoTremor commented on #1000
:+1:

[2015-05-19 21:11] hlorridi opened #1070 "wrong boostrap-sass path"
*CRITICAL - Uncaught PHP Exception Twig_Error_Syntax: "An exception has been thrown during the compilation of a template ("Unable to find file "@MopaBootstrapBundle/Resources/public/bootstrap-sass/vendor/assets/javascripts/bootstrap/tooltip.js".")*

Real Path is
*@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js*

[2015-05-29 18:17] isometriks opened #1072 "Documentation Issues"
- [ ] Clean up other bundles docs
  -  [ ] KnpMenuBundle - Should use `mopa_bootstrap_menu` to use our templates
- [ ] Form Extension - We should have a doc in doc/form for almost every form extension and how to use it.
  - [ ] https://github.com/phiamo/MopaBootstrapBundle/issues/1047 FormActionsType
- [ ] Branches - Do we still want to keep documentation and active branches for 2.3 (README.md)? O

[2015-05-29 19:28] isometriks commented on #921
Closing in favor of - https://github.com/phiamo/MopaBootstrapBundle/issues/1072 with issue list.

[2015-05-29 19:28] #921 closed

[2015-05-29 19:29] #1000 closed

[2015-05-29 19:29] cordoval commented on #1000
why the closing?

[2015-05-29 19:32] isometriks commented on #1047
Will try to add some docs for this soon, but here's another comment I wrote about how to use:

    $builder->add('actions', 'form_actions', array(
        'buttons' => array(
            'save' => ['type' => 'submit', 'options' => ['label' => 'button.save']],
            'cancel' => ['type' => 'button', 'options' => ['label' => 'button.cancel']],
        ),
        'button_offset' => 'col-md-offse

[2015-05-29 19:35] isometriks commented on #1000
We have the milestone for 3.0 and there's nothing left to do in this issue as far as I can tell so I'm closing it to keep only issues that are unresolved. The point of the milestone is to release 3.0 so this seems redundant.

[2015-05-29 19:36] isometriks commented on #1000
If you have any other suggestions for 3.0 feel free to make another issue with that problem and we can add it to the milestone

[2015-05-29 19:38] cordoval commented on #1000
is good to close, let's tag 3.0 asap, thanks for the work

[2015-05-29 19:38] isometriks commented on #1070
https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/usage/1-base-templates.md#templates

Does using the 3.2 sass template work? Bootstrap has 2 different paths for < 3.2 and 3.2+, If so I can reopen but I think this is solved.

[2015-05-29 19:38] #1070 closed

[2015-05-29 19:42] phiamo commented on #1047
@isometriks very nice!

[2015-05-29 19:47] isometriks commented on #1055
Yeah I had wanted to look into the SpBowerBundle eventually but for noobs it's just another dependency to require so it's hard.. but at the same time I hate having other libraries stored in our repo.

[2015-05-29 19:49] phiamo commented on #1055
Yes  :+1: a documentation or good howto/stackoverflow dontknow entry woul be awesome, and then getting rid of external things

[2015-05-29 19:50] phiamo commented on #1058
so this could be closed

[2015-05-29 19:50] #1058 closed

[2015-05-29 19:50] phiamo commented on #1057
@peshi did we already merge a pr for this ?

[2015-05-29 19:51] phiamo commented on #1055
so i close this

[2015-05-29 19:51] #1055 closed

[2015-05-29 20:03] #1041 closed

[2015-05-30 08:51] phiamo commented on #985
should we try not to link to any external library which has these frequent changes?

[2015-05-30 08:52] phiamo commented on #1037
probably we could include this by default?

[2015-05-30 09:04] phiamo commented on #1034
@daFish as far as i see the default behaviour would be to search the closest .collection-item to the button and remove this if its in the collection.
so have a look on the original markup,  and https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/public/js/mopabootstrap-collection.js you need to have a similar structure setup, so the js initializes the collections correctly, probabl

[2015-05-30 09:06] phiamo commented on #1031
:-) thanks @grimmlink

[2015-05-30 09:06] #1031 closed

[2015-05-30 09:16] #981 closed

[2015-05-30 09:25] phiamo commented on #979
could you rerun with current master and give a trace again. i need a windows vm...

[2015-05-30 09:26] phiamo commented on #977
ping @aferrandini :-)

[2015-05-30 09:28] phiamo commented on #965
@FredoVelcro if this still persists feel free to reopen!

[2015-05-30 09:28] #965 closed

[2015-05-30 09:28] #924 closed

[2015-05-30 09:29] phiamo commented on #962
if there is still an issue, feel free to reopen!

[2015-05-30 09:29] #962 closed

[2015-05-30 09:32] phiamo commented on #911
@skypeter1 if there is still help needed feeld free to reopen!

[2015-05-30 09:32] #911 closed

[2015-05-30 09:33] phiamo commented on #953
ping @afurculita :-)

[2015-05-30 09:34] #879 closed

[2015-05-30 09:35] phiamo commented on #886
@hice3000 @jrobeson could you create a PR for this?

[2015-05-30 09:37] phiamo commented on #864
https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/views/Form/fields.html.twig#L529 this got already fixed no?!

[2015-05-30 09:37] #864 closed

[2015-05-30 09:39] phiamo commented on #862
i think this got merged :-)

[2015-05-30 09:39] #862 closed

[2015-05-30 19:47] MisatoTremor commented on #985
I think they did not know how to structure it at the beginning, but it seems stable now. So it should be OK now.

[2015-05-30 21:11] phiamo commented on #985
so we could close this issue?

[2015-06-01 01:18] henrypenny commented on #1037
I was never certain whether the original problem was a real bug or some misconfiguration on my part.

[2015-06-05 17:01] philgagnon12 commented on #985
I use **MopaBootstrapBundle/Resources/public/sass/mopabootstrapbundle-3.2.scss** which fixed the problem for me , I would say that , yes we can close this. Thanks !

[2015-06-05 21:47] phiamo commented on #985
tnx

[2015-06-05 21:47] #985 closed

[2015-06-08 17:42] hlorridi commented on #1070
my bad, sorry

[2015-06-11 12:22] aferrandini commented on #977
Sorry I had not time to do it, I'll try to work on that this week.

[2015-06-11 12:41] phiamo commented on #977
That would be great,  thanks

[2015-06-12 08:56] redactuk opened #1079 "Symlink issue"
Installing v3.0.0-beta3 as part of sonatademo dist, composer install reports:

An error occurred while creating symlinkC:\wamp\sandbox\vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle\Resources\public\boostrap

Install is on Window Wamp setup. Any ideas?

[2015-06-14 13:23] toby-griffiths commented on #1047
Thanks for the info.  Very helpful.  Hoping when this project's calmed down I'll have time to actually put in some work to help you out.

[2015-06-17 05:30] darkbluesun commented on #238
It is difficult to comprehend just how difficult you've made it to implement something as friendly and easy as Bootstrap.

[2015-06-17 08:51] MisatoTremor commented on #238
@darkbluesun If you're talking about this bundle, please note that this issue is about 2 years old and there've been many improvements since then. ;)

[2015-06-17 22:33] darkbluesun commented on #238
In searching for this particular error message,  this is all I found. I
could start a new issue in the main project if that works better.

On 18:51, Wed, 17/06/2015 Steffen Roßkamp <notifications@github.com> wrote:

[2015-06-18 23:59] peshi commented on #1057
@phiamo Nope, that hasn't been merged, if I remember correctly we have to lift the 'list-group' from automenu and extend the template to replace <ul>'s for <div>'s.

[2015-06-23 07:47] d-a-gerashenko opened #1083 "close_tag not working"
https://github.com/phiamo/MopaBootstrapBundle/blob/a5573423b7d029d65bf85e3eba336d5d85d695f1/Resources/views/flash.html.twig
Line 17 always true.
Replace with: close_tag == 'true'

[2015-06-23 07:53] phiamo commented on #1083
Can you please create a PR
Am 23.06.2015 09:47 schrieb "Dmitriy Gerashenko" <notifications@github.com>:

[2015-06-23 07:59] d-a-gerashenko commented on #1083
https://github.com/phiamo/MopaBootstrapBundle/blob/a5573423b7d029d65bf85e3eba336d5d85d695f1/Resources/views/flash.html.twig
Line 17

[2015-06-23 16:24] welsby commented on #238
Just hit the same issue, is there a nicer solution after the 2 years since the original suggestion?
The latest bootstrap (as per the install instructions) doesn't have a file called bootstrap-tooltip.js so I suspect it's more an instructional issue rather than the sym links

[2015-06-24 10:50] stephanvierkant opened #1084 "How to use HelpFormTypeExtension?"
I'd like to use help_label in my forms. When adding the variable to the buildForm options, it works. But in my unit tests, I get this error:
```Symfony\Component\OptionsResolver\Exception\UndefinedOptionsException : The option "help_label" does not exist. Defined options are: "action", [etc.]```

When I extend my ``FormType`` by ```HelpFormTypeExtension```, I get this error:

```PHPUnit_Framework_

[2015-06-24 13:51] stephanvierkant commented on #1084
Well, didn't see there is documentation about [Testing MopaBootstrapBundle Forms](https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/misc/testing-forms.md). Sorry for that!

[2015-06-24 13:51] #1084 closed

[2015-06-24 14:00] stephanvierkant opened #1085 "DateTypeExtension::__construct() must be of the type array, none given"
When performing a unit test, the test fails because DateTypeExtension expects an array as constructor argument, but TypeTestCase doesn't give this variable.

https://github.com/phiamo/MopaBootstrapBundle/blob/master/Tests/Form/TypeTestCase.php#L90
https://github.com/phiamo/MopaBootstrapBundle/blob/master/Form/Extension/DateTypeExtension.php#L26

[2015-06-24 15:39] #1085 closed

[2015-06-26 03:03] d-a-gerashenko commented on #1083
Done  #1087

[2015-07-04 18:01] womanly opened #1089 "Less installation"
I am having problems installing LESS in my Windows 7 OS. I have already installed node.js, and now I don't know what else I have to do. Please, could anyone tell me the steps I must follow? Thanks in advanced.

[2015-07-06 15:05] #1083 closed

[2015-07-12 01:56] daften opened #1090 "How to use bootstrap js files from twbs/bootstrap(-sass)?"
I can't find anywhere on how I could use e.g. the JS files included in twbs/bootstrap without copying them. Is this possible?

[2015-07-12 02:05] daften commented on #1090
I'm an idiot, see base_sass.html.twig for other idiots like me

[2015-07-12 02:05] #1090 closed

[2015-07-12 02:20] daften opened #1091 "problem with using form output with form_theme"
I get:
```Variable "render_fieldset" does not exist in vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/views/Form/fields.html.twig at line 113```

when using {% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %} in my template.

[2015-07-12 14:32] #1091 closed

[2015-07-14 10:20] esqone commented on #981
Hi. I had a very similiar issue. The reason was wrong paths. I have fixed that by overriding bundle files. They might be usefull for you to implement that in next release:

[base_sass.html.twig | uploaded via ZenHub](https://files.zenhub.io/55a4e230bb283e44754ddd26)

[mopabootstrapbundle.scss | uploaded via ZenHub](https://files.zenhub.io/55a4e230bb283e44754ddd27)

[2015-07-14 15:19] phiamo commented on #981
@esqone thanks a lot, we updated the command lately, hopefully this works now again ..

[2015-07-18 01:06] phiamo commented on #1079
@redactuk can you please switch to RC1 there were several improvements to the symlinking

[2015-07-18 01:07] phiamo commented on #1057
@peshi is there a PR

[2015-07-18 01:08] phiamo commented on #989
is there any way to fix this generically? a new file or something?

[2015-07-21 08:26] incrediblecube commented on #1079
Same problem here: getting a permission denied while using `unlink`.
Since the target of the symlink is a folder `unlink` won't work on Windows and the deletion will need some special handling.
Problem occurs in `BaseBootstrapSymlinkCommand` on line 65 (dev-master and all other versions as far as I can see).

This might do the trick:
[code]

[2015-07-21 08:37] phiamo commented on #1079
@incrediblecube can you create a PR for this?

[2015-07-21 16:33] isometriks commented on #1079
Will the Filesystem component help fix that instead of adding it ourselves?

[2015-07-22 09:26] MisatoTremor commented on #1079
It does. The implementation differs, but in the end it should do the same as the Code shown above: https://github.com/symfony/Filesystem/blob/master/Filesystem.php#L169

It used to check if running Windows (``defined('PHP_WINDOWS_VERSION_MAJOR')``), but uses a directory separator format check (``'\\' === DIRECTORY_SEPARATOR``) instead since version 2.3.24.

[2015-07-30 14:55] alessioalx opened #1096 "Error executing app/console assetic:dump (../bootstrap-sass/assets/stylesheets/bootstrap/bootstrap)"
Hello,

I have the same error reported in [this issue](https://github.com/phiamo/MopaBootstrapBundle/issues/985).

This is a part of my composer.json

[code]

With `composer show -i` I have:

[code]

The error generated is:

[code]

I saw that the bug was fixed in [this issue](https://github.com/phiamo/MopaBootstrapBundle/pull/1009) but in [this commit](https://github.com/phiamo/MopaBootstrapBundl

[2015-08-02 05:45] alessioalx commented on #1096
@phiamo, @isometriks, @anacona16, any idea about this issue?

Thanks
Alessio

[2015-08-02 19:41] anacona16 commented on #1096
Hi @alessioalx, I created a new pull request fixing this bug, https://github.com/phiamo/MopaBootstrapBundle/pull/1097, I don't know exactly because before it work, maybe a different version.

Thanks

[2015-08-03 13:15] MisatoTremor commented on #1096
You should use ``base_sass_3.2.html.twig`` or if including SCSS ``mopabootstrapbundle-3.2.scss`` when using bootstrap-sass >= 3.2.

[2015-08-04 04:59] alessioalx commented on #1096
I tried both versions and I have the same error.
I'm deploying with capistrano, here the output:

[code]

I have two hypothesis:
1. Some reference is still in cache when I deploy (even if I call the "clean cache" command).
2. The dump tries to resolve the old path from the mopabootstrap.scss file even if it's not included in my view.

What do you think?

Alessio

[2015-08-04 10:36] MisatoTremor commented on #1096
Could be a cache issue, you could also try to manually clear the cache by deleting the folders in app/cache.

This could also be caused by including ``MopaBootstrapBundle`` in the ``assetic.bundles`` config option in conjunction with activated compass/sass filter with ``apply_to: "\.(sass|scss)$"``. Assetic will then try to compile all SCSS files in the bundle and will fail. If this is the case yo

[2015-08-06 17:51] toby-griffiths opened #1102 "How do I install the full glyphicons font?"
I've purchased the full Glyphicons set & would like to use them with the this bundle.  Is anyone able to advise the simplest way to do this?

Thanks in advance,

Toby

[2015-08-09 03:41] fkrauthan commented on #979
Any news on that issue? I am running into it too when I try to get my application running on windows

[2015-08-12 09:38] peshi commented on #1057
@phiamo Hi, I have a solution locally (twig based) - but it will replace the current implementation that is specified MenuDecorator and MenuConverter. I would like to get some input from the contributor of automenu regarding this issue, maybe there is a way not to use twig.

[2015-08-12 17:11] isometriks commented on #1057
I had originally created the menu extension and then @phiamo created the auto menu I believe and moved the menu extension to a separate class so it could be used in a couple ways. I think Twig would be the best bet. If you check out: https://github.com/KnpLabs/KnpMenu/blob/master/src/Knp/Menu/Resources/views/knp_menu.html.twig#L25

We could override that block and change the `ul` to be a variable

[2015-08-26 12:50] ychadwick opened #1106 "duplicate collection index if you delete an item and then add a new one"
When using the collection widget, with the mopaboostrap-collection.js you can end up with duplicate indexes which results in either errors when processing the form values, or data going missing.

Easy to reproduce:
1. Start with a collection of 3 items
2. Delete the first item
3. Add a new item

You will see that the second and newly created third item will have the same index of [2].

They only w

[2015-08-26 14:30] ychadwick commented on #1106
One solution would be the ability to set the initial_size variable via a data attribute on the widget in php

[code]
then using it in the collection plugin definition

[code]

[2015-08-29 04:01] metax45 commented on #979
Same issue any news?

[2015-09-05 19:32] mattsnowboard opened #1108 "Fix 3.x Deprecation warnings before 3.x release"
Replace Twig usages of "sameas" with "same as"

[2015-09-05 21:33] isometriks commented on #1108
https://github.com/phiamo/MopaBootstrapBundle/pull/1107

[2015-09-10 17:24] #1108 closed

[2015-09-10 17:26] isometriks commented on #1102
Place in your AppBundle/Resources/public and then link with /bundles/app/glyphicons/... with assetic or whatever you use. Glyphicons are default icons so you can just use twig in your templates: `{{ icon('pencil') }}` etc.

[2015-09-10 17:26] #1102 closed

[2015-09-15 08:12] c1tru55 opened #1109 "Change `extends` to `use` in form fields template"
'MopaBootstrapBundle:Form:fields.html.twig' should `use` 'form_div_layout.html.twig' template instead of `extending` it. See how it is implemented in Symfony: https://github.com/symfony/symfony/blob/2.8/src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_3_layout.html.twig#L1

Otherwise 'MopaBootstrapBundle:Form:fields.html.twig' template cannot be `used` in other templates in its turn. Also if

[2015-09-15 12:46] MisatoTremor commented on #1109
See PR #1104

[2015-09-15 12:47] c1tru55 commented on #1109
@MisatoTremor  :+1:

[2015-09-15 16:52] isometriks opened #1111 "Change static_text to be a form type"
Change `static_text` extension to be a form type that extends the `hidden` form type so it passes along data if needed. It should output the hidden element along with the <p> tag for static text in the form.

[2015-09-21 13:16] cacahouete78 opened #1112 "Attempted to load class "Validator" from namespace "JsonSchema""
Since a week, there are the following error when I try to use a command like mopa:bootstrap:install:font, mopa:bootstrap:symlink:less, mopa:bootstrap:symlink:sass.

[code]

Somebody have a solution or can you fix this problem ?

[2015-09-21 19:53] isometriks commented on #1112
Hmm, seems to be a composer issue or something. https://github.com/composer/composer/blob/master/src/Composer/Json/JsonFile.php#L160 might want to try a composer self-update?

[2015-09-22 09:20] cacahouete78 commented on #1112
Hi, I "composer self-update" each morning before "composer update". MOPA's commands are the only ones i can't run.

My php client and Bundles :
[code]

[2015-09-24 07:05] aashley commented on #1112
mopa composer adapptor is building its own autoloader and not supporting PSR-4 properly see https://github.com/phiamo/MopaComposerBridge/issues/15

[2015-09-24 17:51] ttiu commented on #1112
@cacahouete78 The last tagged version of composer could be a temporary fix.
[code]

[2015-09-29 11:27] lifo101 opened #1113 "choice_widget_expanded incorrectly applies `label_attr` to children and row"
The twig block `choice_widget_expanded` is applying the `label_attr` to its primary label and to each of the children, which produces wierd results, especially when you're using `inline-btn` as the widget_type. Basically, I want to apply `btn-default` to the children of the form row but not have it apply to the main label of the row _(this causes the label of the row to have a btn 'hover' effect,

[2015-10-01 16:06] lifo101 commented on #1113
An `CSS` work-around to get rid of the label hover can be done with the following:

[code]

This doesn't fix the underlying issue of how the form control is rendered, but at least it gets rid of the visual annoyance for me.

[2015-10-01 16:10] nska02 opened #1114 "icons not displayed - bootstrap 3.3+ sass version"
Hi,

I'm a "fresh" (few months) newbie with symfony and I tried to setup this bundle: everything seems to work but **can't make the glyphicons work** (been on it for 24h).

* Followed all instructions to use this bundle with bootstrap (3.3+) sass version (using compass as parser), resulting in:

**config.yml**
[code]

**layout.html.twig**
[code]

* But can't get the resource:

*The requested URL /

[2015-10-01 16:13] isometriks commented on #1114
Have you used `php app/console assets:install web`? This will install the public assets. If not what do you get when you do a directory listing for web/bundles? Is anything in there?

[2015-10-01 19:24] nska02 commented on #1114
Thanks for the quick reply.
I'm on symlink (`app/console assets:install --symlink`): as I assumed this would prevent me from hard copying via console everytime I change an asset.
For the sake of it, I executed, as you recommended, `php app/console assets:install web` but **no change**.
What do you mean by a directory listing for web/bundles?

By any chance, would this be linked to the fact that I

[2015-10-01 19:40] phiamo commented on #1114
Can you try a composer update, i released a new version of composer bridge containinga fix regarding  issue #1112

[2015-10-01 19:40] phiamo commented on #1112
Can you try a composer update, i released a new version of composer bridge containing a fix regarding issue #1112

[2015-10-01 20:14] nska02 commented on #1114
Seems like the *JsonSchema\Validator* issue is now fixed (at least for icons install).
After executing `mopa:bootstrap:install:font`, I got `Font: glyphicons Installed... OK`.
But, getting back to my icon issue, **still 404 errors on woff2, woff and ttf**.

Would it be related/similar to what is described in 1.4 Assetic configurations?

How would this need to be **"configured"** (I assume without

[2015-10-01 20:35] phiamo commented on #1114
Can you please show the assetic statement you use to include the this?

[2015-10-02 08:42] nska02 commented on #1114
@phiamo I'm not exactly sure what you want more than what I pasted in my earlier post.
So here (https://github.com/nska02/symfony2) you can find a "clean" repo of all files which should matter for this issue (I guess):
* app folder > config.yml + others
* src folder > AX > CoreBundle > Resources > views > layout + index

In the index.html.twig, I simply use a {{ icon('play') }} within a thumbnail

[2015-10-02 09:06] phiamo commented on #1114
@nska02 didnt see the includes above. so its find
after you made app/console assets:install --symlink
you should have a web/bundles folder including symlinks to all Bundles with a public folder. (will not be added to git!)
if this is not present there must be another problem, can you please check this. (it should only exist in your local env not in git due to https://github.com/symfony/symfony-sta

[2015-10-02 09:32] nska02 commented on #1114
- [x] yes (and yes)

- ls -al web/bundles

[code]

- ls -la web/bundles/mopabootstrap

[code]

I don't think there is anything strange here.
(**note**: differences in the project naming (repo = symfony2 and presented references = symfony) are not to be considered: I just copy/pasted into another folder/repo to show you)

Maybe the simplest way to solve this could be (to avoid taking much of your t

[2015-10-02 09:36] phiamo commented on #1114
sry i never used sass so i have no idea. but lets track back the problem:
if you use chrome and open your page while you have chrome-dev tools open on the network pane, are there any requests that could not be fulfilled?
and can you try removing cssrewrite filter from the statement above ....

[2015-10-02 09:49] nska02 commented on #1114
- [x] mopabootstrapbundle-3.2 (and all other requests) > **ok**
- [ ] glyphicons (woff2, woff, ttf) > **404 errors**
(see screenshot below)

tested **with** and **without** cssrewrite

just to confirm, is there anything more to do, to make glyphicons (default) available, than:
- installing the bundle (composer + kernel)
- extending view from base_sass-3.2.html.twig (and/or referencing the sass mop

[2015-10-02 09:58] phiamo commented on #1114
i am sorry i cannot confirm these steps, cause i never used sass
but at least the app/console assets:install --symlink command and the app/console mopa:bootstrap:symlink:sass command are at least necessary ....
so could you run them and give the output of:
ls -la web/bundles
ls -la web/bundles/mopabootstrap
ls -la web/bundles/mopabootstrap/fonts
ls -la web/bundles/mopabootstrap/fonts/bootstrap

[2015-10-02 10:07] nska02 commented on #1114
As requested:

- app/console assets:install --symlink

[code]

- app/console mopa:bootstrap:symlink:sass

[code]

- ls -la web/bundles

[code]

- ls -la web/bundles/mopabootstrap
[code]

- ls -la web/bundles/mopabootstrap/fonts

[code]

- ls -la web/bundles/mopabootstrap/fonts/bootstrap

[code]

Refreshed browser, still the same issue (404 errors).

[2015-10-02 10:12] phiamo commented on #1114
can you please provide information to your server environment:
are you using a apache/nginx to provide http layer or php internal server?

have you set asset_base_path or router context parameters?

[2015-10-02 10:12] phiamo commented on #1114
and can you please check that loaded assets are on the same vhost as not leaded ones

[2015-10-02 10:36] nska02 commented on #1114
not sure if my answer will be complete, but I'm on a basic local OSX / MAMP installation (apache / mysql v5.5.42 / php v5.6.10) with latest symfony (2.7.5)
haven't tweaked asset_base_path or any router parameters (all symfony defaults)
from MAMP gui, I can only see localhost and have never touched virtual hosts configs

[2015-10-02 10:45] phiamo commented on #1114
atm i would assume a misconfiguration on mamp ...
can you please check if any file in the web folder that is not php i accessible
then check if you run app/console assets:install WITHOUT symlink that there is no symlink created (ls -la web/bundles)
then check again if they are accesible afterwards (FollowSymlinks has then to be allowed)

if this is not helping please seart the included php webserv

[2015-10-02 12:27] nska02 commented on #1114
worked!
[x] shut down MAMP
[x] executed app/console server:run
[x] checked website on localhost:8000
[x] glyphicons worked

amazing, any idea what could be wrong with MAMP?
thanks!

[2015-10-02 13:04] phiamo commented on #1114
Proably not reading files from the disk, but everything via php, since the
assetic routes run through a controller it works, and your install is
broken.
since i dont use mamp neither osx i am not abled to help on this one
further :(

Mit freundlichen Grüßen
Philipp A. Mohrenweiser

You don't need to know everything,
you just need to know where to find it:
https://www.booksync.net
_________________

[2015-10-02 15:05] isometriks commented on #1114
I was actually also going to suggest that symlinks might not be allowed in your configuration. Did you try removing the symlinks, or `rm -rf web/bundles` and then install without symlink? If the files are in web/bundles/mopabootstrap/... and you can't access them then it's not really a Symfony issue. As @phiamo said, the other stuff is working because assetic is reading it from it's original folde

[2015-10-02 15:46] nska02 commented on #1114
Ok, found the solution! Actually you might fall into depression by my lack of skill, so.. sit down.

The thing is that, in MAMP, my internal server name is **localhost** with its **document root** set at **~/Sites/**  (inside this folder I have many small projects / I left the configuration this way so that I could navigate with the browser between them from the *portal*: http://localhost/ )
Thus,

[2015-10-02 15:53] phiamo commented on #1114
your are welcome.

[2015-10-02 15:53] #1114 closed

[2015-10-02 15:54] #1112 closed

[2015-10-04 10:22] Alexandre-T commented on #1096
I had the same error.
@MisatoTremor : You're right. It was caused by including MopaBootstrapBundle in the assetic.bundles config option in conjunction with activated compass/sass filter with apply_to: "\.(sass|scss)$". So I clean manually the cache, I executed app/console assetic:dump, and it works. But i still had an error 500 when we load homepage. In prod log file, there is :

So I clean manual

[2015-10-06 16:33] quazardous commented on #1096
Hi,

I've the same error here.

I've pointed on mopabootstrapbundle-3.2.scss but it keeps trying to load mopabootstrapbundle.scss and there is a mistake (?) in the last file.

    // Main bootstrap.sass entry point ERROR
    @import "../bootstrap-sass/assets/stylesheets/bootstrap/bootstrap";

I've added ERROR on the line to tell which file was loaded... there is a double bootstrap/bootstrap
------

[2015-10-06 17:03] quazardous commented on #1096
I think I've nailed it !
just suppress the mopabootstrapbundle.scss and it works.

maybe compass is just trying to compile all the scss it founds ?

[2015-10-07 03:30] 12roar opened #1116 "httpd/apache2 Segmentation fault"
I'm running into problems on 2 systems.

and

When i upgraded (from Beta 4) to the new bundle (either RC1 or RC2), immediately after i clear the cache en try to load a page, the thread dies. e.g.
[code]

The CentOS had XDebug installed, and i noticed that it showed
[code]
multiple times, and just kept loading. Nothing happened.

After i disabled Xdebug, it instantly generates a Segmentation fault,

[2015-10-08 12:29] Alexandre-T commented on #1096
Yes, it is, Quazardous. I think so too. MisatoTremor said it in his last post.

[2015-10-15 17:46] toby-griffiths commented on #1096
@quazardous how do you suppress mopabootstrapbundle.scss?

[2015-10-15 18:32] quazardous commented on #1096
@toby-griffiths just manually replace vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/sass/mopabootstrapbundle.scss by vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/sass/mopabootstrapbundle-3.2.scss
I've added a "post-update-cmd" in my composer.json to do it (yes ugly) ...

[2015-10-15 18:37] quazardous opened #1121 "[feature request] Accordion Menu"
Hi,

I would love an accordion menu like this

http://bootsnipp.com/snippets/featured/accordion-menu

Maybe it is already doable ?

[2015-10-16 10:13] MisatoTremor commented on #1096
@quazardous The path in ``mopabootstrapbundle.scss`` is not an error as bootstrap-sass prior to 3.2 did use that path. Therefor there are the two versions of that file.
If you somehow need to have ``MopaBootstrapBundle`` in your ``assetic.bundles`` config, a better solution would be to at least remove the ``apply_to`` from the ``compass`` filter config and add the compass filter manually where nee

[2015-10-16 15:30] isometriks commented on #1121
Do you want to create this from a knp menu? If so you can pass a custom template to either the `mopa_bootstrap_menu` or `knp_menu_render`

`{{ mopa_bootstrap_menu('mymenu', {'template': 'AcmeBundle:Menu:accordian.html.twig'}) }}`

You'll want to go look at knp's menu template so you'll know what blocks to override.

[2015-10-16 16:01] quazardous commented on #1121
yes something like this ... but I'm still looking for a nice snippet because the one I ve found has (evil) table...
If you guys have some ideas or snippets...

[2015-10-16 16:05] quazardous commented on #1096
Ok nice to know... have seen this somewhere in the doc. could someone provide the filter syntax ?

[2015-10-16 16:45] isometriks commented on #1121
I would just use this: http://getbootstrap.com/javascript/#collapse-example-accordion in conjunction with this: http://getbootstrap.com/components/#panels-list-group

It's already built into bootstrap. Just use their accordion with panel list groups.

[2015-10-20 08:45] kollegeJack commented on #883
I got the same error and the server refused to work on my production system. My solution was to add the following to my config.yml (only the *form* part)
[code]
That worked for me!

[2015-10-22 13:32] alrayyes commented on #981
+1 Experiencing the same issue.

[2015-10-22 13:37] alrayyes commented on #981
Upgrading to 3.0.0-beta4 seems to have fixed it

[2015-10-22 16:00] toby-griffiths commented on #1096
@quazardous Thanks for the advise.  That seemed to work until we have a better solution.

@MisatoTremor I need `MopaBootstrapBundle` in my assetic.bundles config, as I'm extending the twig form templates, however I'm not using the compass filter.  Should I be?

[2015-10-23 10:30] peshi opened #1122 "Form - Type+Extension"
Reminder to fix form types and extensions up to 2.8 before dropping BC.
https://github.com/symfony/symfony/blob/2.8/UPGRADE-2.8.md

[2015-10-23 18:23] isometriks commented on #1122
https://github.com/phiamo/MopaBootstrapBundle/pull/1117

Just posting to link these, I need to look into it a little more but I think the PR looks good.

[2015-10-23 18:34] peshi commented on #1122
@isometriks thanks, I missed this PR while browsing. I'll comment in PR.

[2015-10-26 09:23] toby-griffiths commented on #1096
@MisatoTremor Ignore my last comment.  Think I must have been tired.  All's working fine with the Sass filter, now locally applied to my base template stylesheets tag.

[2015-11-15 02:42] bnd170 opened #1123 "Error in path"
You have an error in the dev-master branch.

On this file:
/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/sass/mopabootstrapbundle.scss

Line 26:
@import "../bootstrap-sass/assets/stylesheets/bootstrap/bootstrap";

Fix it with this:
@import "../bootstrap-sass/assets/stylesheets/bootstrap.scss";

[2015-11-16 01:25] isometriks commented on #1123
Use mopabootstrapbundle-3.2.scss, they changed the paths in 3.2 but we wanted to still support older versions if people were still using it.

[2015-11-16 17:29] bnd170 commented on #1123
Okey, another question. How can i add FontAwesome using mopabootstrapbundle-3.2?

[2015-11-16 23:25] bnd170 opened #1124 "Post-cmd-cmd creates a wrongly bootstrap-sass folder in web"
Don't knwo why but after i install JMSi18nRoutingBundle, it works wrongly :/

I need some help to fix it.

![Image](http://i.imgur.com/vZFKV4x.png)
![Image](http://i.imgur.com/zyKwrR0.png)

[2015-11-18 12:06] stephanvierkant opened #1125 "Deprecation notice Twig_ExtensionInterface::initRuntime()"
http://twig.sensiolabs.org/doc/deprecated.html:

Defining the initRuntime() method in the "mopa_bootstrap_icon" extension is deprecated. Use the `needs_environment` option to get the Twig_Environment instance in filters, functions, or tests; or explicitly implement Twig_Extension_InitRuntimeInterface if needed (not recommended).

https://github.com/phiamo/MopaBootstrapBundle/search?utf8=%E2%9C%93&

[2015-11-18 12:12] phiamo commented on #1125
could you create a backward compatible PR?

[2015-11-18 16:15] #1125 closed

[2015-11-18 18:02] lifo101 opened #1127 "Inline button groups need to be wrapped in an "input-group" on non-horizontal forms"
I use an inline button group to display a few radio boxes as a button group and with the default Mopa styles it won't render properly on non-horizontal forms. Horizontal forms are fine.

I override the `choice_widget_expanded` block with the following to fix it:

[code]

Before:
![before](https://cloud.githubusercontent.com/assets/367337/11249273/e266fe04-8df3-11e5-9c6d-a3201f27c7c6.png)
After:
![

[2015-11-25 13:12] peshi opened #1133 "missing basic form form-group size"
creating custom forms using form_row(form.name) without form-horizontal does not have the possibility to use form-group wrapper sizes.

desired output

[code]

Also, the example of basic forms in sandbox is incorrect due to the fact that basic forms have labels on top of the input.

[2015-11-25 13:43] grimmlink opened #1134 "Duplicated form_errors in collections"
Hi,

I have a collection form field with a count constraint on min = 1
Now, if I submit the form without adding to the collection, the error is duplicated:
![image](https://cloud.githubusercontent.com/assets/3241292/11398477/5b172f8a-9381-11e5-9e08-d0eb292f2dc1.png)

From what i saw in [fields.html.twig](https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/views/Form/fields.html.twi

[2015-11-25 17:44] isometriks commented on #1133
I'm not sure if this should be added. Does it work to just wrap the groups in columns?

[code]

You can also just render the label and widget explicitly:

[code]

If we keep adding in new ways to alter the forms it's going to get really confusing. There's already tons of things you can customize which might be overkill anyway.

[2015-11-25 18:29] peshi commented on #1133
I'm closing here and adding locally - I do agree with the reasoning.

[2015-11-26 01:01] phiamo commented on #1133
basicly i would agree too, but,
would it make sense to reduce the feautureset and consolitate it especially looking at bs 4.0 ? what is the main purpuse of the bundle? i see it as a helper for reapeatedly used bs things in symfony , but could we even go futher and reduce the featureset for bs4 while probably creating a own library which could be useful to other frameworks too?

[2015-11-26 19:09] phiamo commented on #1123
i never used sass but there is something here: https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/public/sass/bootstrap-fontawesome.scss

[2015-11-26 19:11] phiamo commented on #1134
can you create a example for the sandbox to see this problem running?

[2015-11-26 19:17] phiamo commented on #1127
Can you create a pr for this?

[2015-11-26 19:18] phiamo commented on #1124
have you tried removing it and then retring?

[2015-11-26 19:18] phiamo commented on #1122
thanks!

[2015-11-26 19:18] #1122 closed

[2015-11-26 19:19] phiamo commented on #1121
i assume this is done .. thanks @isometriks

[2015-11-26 19:19] #1121 closed

[2015-11-26 19:20] phiamo commented on #1116
hehe this is quite common:
https://stackoverflow.com/questions/13213378/what-is-causing-a-maximum-function-nesting-level-error-in-symfony-2-1-and-twig/13213409#13213409

[2015-11-26 19:20] #1116 closed

[2015-11-26 19:21] phiamo commented on #1111
@isometriks is this connected to https://github.com/phiamo/MopaBootstrapBundle/pull/1132 ?

[2015-11-26 19:21] #1109 closed

[2015-11-26 19:22] phiamo commented on #1089
sry never did this on windows, probably you can identify your steps based on https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/install/2-less-installation.md

[2015-11-26 19:24] phiamo commented on #1079
closing this issue in favor of #1095 and restarted travis

[2015-11-26 19:24] #1079 closed

[2015-11-26 19:25] phiamo commented on #1072
is this still in same state or havent there been several improvements?

[2015-11-26 19:28] phiamo commented on #1047
so i assume we can close this? @toby-griffiths @isometriks

[2015-11-26 19:28] #1047 closed

[2015-11-26 19:29] phiamo commented on #1034
ping @daFish

[2015-11-26 20:35] bnd170 commented on #1124
Yes, but doesnt work

2015-11-26 20:18 GMT+01:00 Philipp A. Mohrenweiser <notifications@github.com

[2015-11-27 09:41] grimmlink commented on #1134
Hi,

i can't install the sandbox

[code]

my composer.json:

[code]

[2015-11-27 14:46] isometriks commented on #1111
Yes it is. I think it should be done through a type not through options and override the whole form type. It also doesn't pass any data if that's actually needed by people

[2015-11-27 16:00] isometriks commented on #1072
Pretty much the same state. I just reorganized the docs a little, we still need to clean it up. Especially noting about the sass3.2 problem cause we still get issues about it

[2015-11-28 18:55] peshi commented on #1111
What kind of data do you want to pass for static text?

[2015-11-28 19:10] isometriks commented on #1111
Sorry I thought you were the one that wanted to actually have it come from the data and possible even pass it. I was thinking maybe a scenario where you want hidden data that can't be edited but you can also read what it is. Maybe for somebody filling something else out that isn't an entity yet?

[code]

That way the static text would come from the data instead of having to read the data yourself

[2015-11-28 19:18] peshi commented on #1111
Ah, I understand - an example use case was nice to see. That could be usefull :+1:

[2015-11-28 19:58] peshi commented on #1111
I like the idea and can already see a few places where I could use this.

[2015-11-28 23:03] isometriks commented on #1111
Yeah it would be nice in some admin gui that wants to show the value but not let it get changed. In that case mapped false would be fine even if somebody inspected element and changed the hidden field as it wouldn't take the value regardless. You wouldn't need a full custom template to display your form and only have one thing be just a value. I could imagine maybe the ID of the entity being stati

[2015-11-28 23:41] peshi commented on #1111
In the StaticTextExtension i used http://symfony.com/doc/current/reference/forms/types/text.html#disabled
But I didn't actually test to inspect and remove a disabled tag to push a different value, but I guess it would swallow the value and update the entity/document.

So, yes that would be neat if this could be done as described in your comment.

[2015-11-29 23:07] isometriks commented on #1133
@phiamo I would say yes. I think we need to adhere to some more best practices. We would need to open a discussion about including the external libraries and if we want to possibly include something like https://github.com/Spea/SpBowerBundle, I haven't researched in a while so there might be better solutions but I am not crazy about embedding 3rd party libraries in the repository. It creates a hea

[2015-12-01 10:11] grimmlink commented on #1134
@phiamo

You can have a test with this: https://github.com/grimmlink/mopabs

it seems the error appears if error_bubbling => false` on the parent form

[2015-12-10 09:38] toby-griffiths commented on #1047
I'm happy with that, as it's been added to the documentation issue.

[2015-12-10 10:32] c1tru55 opened #1139 "Missing "spinning.less" file for font-awesome4"
[code]

https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/public/less/font-awesome4/font-awesome.less#L14
https://github.com/phiamo/MopaBootstrapBundle/tree/master/Resources/public/less/font-awesome4

[2015-12-18 16:39] MisatoTremor opened #1143 "Versioning / BC handling"
Symfony just released version 3 and Bootstrap 4 is also on the horizon.
With both we got a couple of deprecations / BC breaking changes which (will) affect this bundle, but still (will) have older versions that are maintained.

So I thought it might be a good time to discuss a solid versioning strategy for the future to support existing combinations as long as they are maintained with possible bug

[2015-12-18 17:21] isometriks commented on #1143
I think we should probably support 2.7, and 2.8+. 2.8+ will work for 3.0+ (Hopefully for quite a while) and 2.7 is the latest LTS (aside from the new 2.8 LTS, but it's basically 3.0 anyway). It's not hard to update from 2.3 and if you're unwilling to update from 2.3 you likely won't be switching to bootstrap 4 anyway so I don't see that as a problem. I looked at grid and form stuff pretty quickly

[2015-12-18 19:46] MisatoTremor commented on #1143
Yeah, that was my idea behind the SF <= 2.8 branch as that would be basically just the current state.

One thing that made me open this issue is the decent amount of BC code that's now in the bundle. It's adding complexity and as a personal opinion just isn't nice to have forever. Which is why I think it'd be a good idea to have a SF 3.0(+) only branch with all that removed.

As for BS 4 there's i

[2015-12-19 04:08] Marinofull commented on #59
nice! It helped me :+1:

[2015-12-21 03:54] bluntelk commented on #1139
It was deliberately removed with commit 7a3b15c3b6b08b01b9075b0cefbfb018eca9f682

There is no reasoning in the commit message.

Can we please revert this commit

[2015-12-21 04:05] bluntelk commented on #1139
I have submitted a pull request that reverts that commit
https://github.com/phiamo/MopaBootstrapBundle/pull/1144

[2015-12-23 13:41] whyte624 opened #1145 "PHP version"
Please, add required php version in composer.json. Thanks!

[2016-01-01 17:33] debach opened #1146 "SASS: Incorrect relative path to bootstrap.scss"
Line 26 of `@MopaBootstrapBundle/Resources/public/sass/mopabootstrapbundle.scss` incorrectly is

    @import "../bootstrap-sass/assets/stylesheets/bootstrap/bootstrap";

but should be

    @import "../bootstrap-sass/assets/stylesheets/bootstrap";

Pull request #1147.

[2016-01-02 14:05] darkomenx opened #1148 "is there a Symfony3 integration ?"
Hello,

I just want to know if your bundle run onto Symfony3 framework ?
If not you think that to plan this ?

Good works, good time and good luck !

[2016-01-04 14:55] phiamo commented on #1148
@TomasVotruba made a lot of improvements for sf 3.0 afaik it should work.

[2016-01-04 14:56] phiamo commented on #1146
use the 3.2 version

[2016-01-04 14:57] phiamo commented on #1145
what for? we depend on symfony/framework-bundle which does this already..

[2016-01-04 15:32] #1145 closed

[2016-01-04 23:21] debach commented on #1146
Many thanks. I was unaware that this is a version issue and found nothing in the docs.

[2016-01-04 23:22] debach commented on #1146
Many thanks. I was unaware that this is a version issue and found nothing in the docs.

[2016-01-05 10:47] MisatoTremor commented on #1146
@debach Doc: https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/usage/1-base-templates.md#templates
But maybe this should be also be written for SCSS in the Usage section below. :)

[2016-01-05 10:55] phiamo commented on #1146
Could you create a PR for this :-)

[2016-01-05 11:13] MisatoTremor commented on #1146
@phiamo OK ^^ What do you think about #1149

[2016-01-05 11:49] phiamo commented on #1146
@MisatoTremor perfect thanks

[2016-01-05 11:49] #1146 closed

[2016-01-07 02:43] bluntelk commented on #1139
As a work around, instead of importing "mopabootstrapbundle-fa4" you can import "mopabootstrapbundle-fa" which is actually a newer version now of font awesome 4

[2016-01-07 09:14] Chrysweel commented on #955
+1 Hello @pradipchitrakar did you resolve it ?

I have a field in my form, which I dont want class form-control... :(

[2016-01-07 09:18] Chrysweel opened #1150 "Can I remove class "form-control" only to one field in my form ?"
I have a form.

[code]

And in my template twig I have:
[code]

I want that field "my_field" has not class form-control, are there any solution ?

I use mopaBoostrapBundle version 3.0.0

thanks in advance

[2016-01-07 10:01] Chrysweel commented on #762
Existe here: https://github.com/phiamo/MopaBootstrapBundle/blob/master/Form/Extension/WidgetFormTypeExtension.php#L86

But @phiamo @webspin How can I modify it in my form ?

[2016-01-07 10:12] Chrysweel commented on #1150
I see that "form-control" is added here:

But I dont know how delete this option ...

Any suggestion please ? :)

[2016-01-11 02:47] LoneWolfPR opened #1151 "Could not find sourcePackage: twbs/bootstrap-sass"
After following the install instructions, when I run `app/console mopa:bootstrap:symlink:sass` I get this error: `Could not find sourcePackage: twbs/bootstrap-sass with composer`. I currently have in my composer.json `mopa/boostrap-bundle: "^3.0"` and `twbs/boostrap: "^3.3"`

[2016-01-11 03:34] LoneWolfPR commented on #1151
problem was when I ran my initial require with composer I required twbs/bootstrap instead of twbs/bootstrap-sass like I should have. Sorry for the dumb post.

[2016-01-11 03:34] #1151 closed

[2016-01-11 09:20] Chrysweel commented on #1150
up !
can anyone help me?
:(

[2016-01-11 16:32] isometriks commented on #1150
[code]

I think should work? Your other option is to override the form theme for only that form element on the page.

[2016-01-11 20:21] Chrysweel commented on #1150
Ok @isometriks great! It work ! Thanks you very much !

[2016-01-11 20:21] #1150 closed

[2016-01-14 09:53] BenoitLeveque opened #1152 "Multiple add button for collection"
I'm trying to use multiple button to add new item inside a collection. each button has custom attribute that i would use to alter the row (default value)

do we have a way to find which button has cause the item to be added ?

[2016-01-28 20:43] vasakorol commented on #1134
Hi,
I have same problem with sandbox:

`Problem 1
- Installation request for mopa/bootstrap-sandbox-bundle dev-master -> satisfiable by mopa/bootstrap-sandbox-bundle[dev-master].
- mopa/bootstrap-sandbox-bundle dev-master requires knplabs/knp-menu-bundle 2.0.x-dev -> no matching package found.`
Here is my composer

`"mopa/bootstrap-bundle": "dev-master",
"mopa/bootstrap-sandbox-bundle": "dev-maste

[2016-01-28 20:45] vasakorol commented on #1134
`asd
as
da`

[2016-01-30 03:05] reypm opened #1153 "How to properly use MopaBootstrap in a clean project"
I am working in a Symfony 2.8 (does not know if MoopaBootstrap already support this release) project and I need to use Bootstrap so I decide to go with this bundle. After read the install docs I have a few doubts (and I think this could be added to the docs in order to be clear to new ones trying to use the bundle):

- I am not using LESS, I am not using SASS, should I install Bootstrap by hand? T

[2016-01-31 01:43] isometriks commented on #1153
If you're using assetic you can just add bootstrap from one of the CDNs (it'll download it for you) or directly link to one. You could also place it in your `/public` folder and then reference it through `/bundles/app/css/bootstrap.min.css` etc. I use either the above way or in one using LESS customization I just downloaded it locally myself, the commands are just shortcuts, as long as the css mak

[2016-01-31 01:47] reypm commented on #1153
@isometriks can you share your setup for using CDN? I know the common way by including from another bundle but this one with CDN sound interesting I just don't know how to config everything. Thx

[2016-02-02 15:01] isometriks commented on #1153
You can just do this:

[code]

It will download that file locally for you. You'll have an issue with glyphicons unless you have the font file local as well so unless you're replacing it with fontawesome or something and including that too it may not always be the best. You also have to hope that it's available when you dump your assets as well.

[2016-02-10 11:04] patrickg15 opened #1156 "The service "mopa_bootstrap.example.navbar" has a dependency on a non-existent parameter"
Hello,
Please how could I solve this problem ?
[Symfony\Component\DependencyInjection\Exception\ParameterNotFoundException]
  The service "mopa_bootstrap.example.navbar" has a dependency on a non-exist
  ent parameter "mopa_bootstrap.navbar.generic".

This happened after installation MopaBootstrapBundle and all the suggests bundle.

[2016-02-12 13:35] EvilKraft opened #1157 "Integration with Silex"
Please help me integrate MopaBootstrapBundle into Silex

[2016-02-17 11:02] toby-griffiths commented on #1037
I've had this problem just this week when deploying the same way I always have.  I'm not sure what's changed.
I did work out, however, that if you install your assets using the --symlink switch (`app/console assets:install --symlink`) it appears to work fine.
Perhaps this helps work things out?

[2016-02-17 12:18] EvilKraft commented on #895
@Kezino Please help me.
How have you integrated MopaBootstrapBundle with Silex?

[2016-02-17 12:41] Kezino commented on #895
@EvilKraft Yes, I have created a Bridge to integrate it into Silex. Though, it was quite a long time ago, I cannot guarantee that the newest version will work with my bundle as expected.

[2016-02-17 12:54] EvilKraft commented on #895
@Kezino Could you send me your code? May be I could modify it to use with new version.
I just want to add tabs on form. But I am novice in Silex and Symfony :(

[2016-02-22 22:41] paljinov commented on #1114
I have the same issue as @nska02.

The following line in file: **web\bundles\mopabootstrap\sass\mopabootstrapbundle-3.2.scss**
[code]

is not working properly on the following platform:
**_CentOS Linux release 7.1.1503 (Core)
nginx version: nginx/1.6.3_**

Errors are:

If I include fonts by relative path everything is OK:
[code]

Can this be solution ?

[2016-02-23 20:35] paljinov opened #1159 "glyphicons HTTP 404 - mopabootstrapbundle-3.2.scss"
I have the same issue as @nska02 in #1114.

The following line in file: **web\bundles\mopabootstrap\sass\mopabootstrapbundle-3.2.scss**

[code]

is not working properly on the following platform:
**_CentOS Linux release 7.1.1503 (Core)
nginx version: nginx/1.6.3_**

composer.json configuration

[code]

Errors are:

![glyphicons_404](https://cloud.githubusercontent.com/assets/10164379/13265763/00f9

[2016-03-06 14:06] Neodork opened #1161 "Style form legend with class"
Hello there,

I am using MopaBootstrap in combination with Sonata Project. I'd like to edit the legend CSS to give it a color. This is simple by adding a class to the element.

I can provide a PR where the legend_class passes as default option if that is the desired solution.

[code]

[2016-03-07 16:39] isometriks commented on #1161
Sure, I think it can be added to: https://github.com/phiamo/MopaBootstrapBundle/blob/master/Form/Extension/LegendFormTypeExtension.php quite easily. Not sure if we should make it more generic like `legend_attr` so people could add other things if they needed to. @phiamo  thoughts?

[2016-03-07 16:40] phiamo commented on #1161
i like the legend_attr idea! thnx a lot!

[2016-03-07 17:56] Neodork commented on #1161
:+1: I'll look into `legend_attr`

[2016-03-14 13:03] rpcjacobs commented on #1139
+1

` [Assetic\Exception\FilterException]
  An error occurred while running:
  '/usr/bin/node' '/tmp/assetic_less41Sv4R'
  Error Output:
  FileError: 'spinning.less' wasn't found. Tried`

Caught my eye aswell just now, wrong folder has been upgraded. Should be reverted!
But does anyone actually use the regular verison!? Perhaps it has icons that are not available in fa4?

Maybe the regular version

[2016-03-22 10:30] rejsmont commented on #1148
There are a few deprecation notices though. Like for example:
`Defining the getGlobals() method in the "initializr" extension without explicitly implementing Twig_Extension_GlobalsInterface is deprecated since version 1.23 for example`

[2016-03-22 11:24] MisatoTremor commented on #1148
@rejsmont That is a Twig deprecation notice and has nothing to do with Sf 3.0.

[2016-03-22 11:29] phiamo commented on #1148
but please feel free to create a bc compat PR

[2016-03-30 16:39] Primo83 commented on #1134
Hi,
I have same problem,

Problem 1
    Installation request for mopa/bootstrap-sandbox-bundle dev-master -> satisfiable by mopa/bootstrap-sandbox-bundle[dev-master].
    mopa/bootstrap-sandbox-bundle dev-master requires knplabs/knp-menu-bundle 2.0.x-dev -> no matching package found.

[2016-04-07 18:27] malutanpetronel commented on #869
it fails on a windows 2012 server with sonata on a vagrant ubuntu ... no run as admin should ever needed  to run vagrant up

[2016-04-08 12:22] Neodork commented on #1161
Been a bit busy, still need it for some projects though so when I have time I will look into it. If anyone else feels like they need it right away feel free to create the PR.

[2016-04-20 01:12] lpcadev commented on #979
Same issue any news?

[2016-04-26 06:12] jonny827 opened #1164 "Navbar N-Level Dropdown Menus"
### **Question**
Does MopaBootstrapBundle 3.x support N-Level Navbars with KNPMenuBundle out of the box with Bootstrap 3.3.x and (ideally 4.x as well)?

### **Background**

**1.**
I read that boostrap 3.x no longer supports sub-meu. - [here](http://stackoverflow.com/questions/18023493/bootstrap-3-dropdown-sub-menu-missing)

**Thoughts**
One solution mentioned mentioned  [here](https://github.com/d

[2016-04-26 14:48] isometriks commented on #1164
My response was just that having two actual navbars with the hamburger collapse button etc, isn't a common use-case. Which is not to say it's not possible to even still do with this bundle. We just provide that base template to `embed` as a shortcut which works in most cases. I myself use multiple menus, for instance a main menu, and then a second pulled-right menu as a user menu which may or may

[2016-05-03 16:16] corphi opened #1167 "`HorizontalFormTypeExtension` doesn’t play well with `CollectionType` in latest Symfony stable"
With symfony/symfony#18317 collection form prototypes have their parent set, but there is no inverse direction, i.e. the prototype is not part of the collection children.

`HorizontalFormTypeExtension` sets the `horizontal` view variable on root forms and bubbles its value to the form children. As prototypes are no longer root forms, their value stays `null` and evaluates to `false` in the [templa

[2016-05-10 13:37] craigbartholomew opened #1168 "choice_attr is ignored in template"
Anything set in choice_attr in the form type is not handled in fields.html.twig

http://symfony.com/doc/2.7/reference/forms/types/choice.html#choice-attr

[2016-05-17 02:20] auipga commented on #859
is there a solution yet?

[2016-05-17 04:06] isometriks commented on #859
That should be an option passed to the form, attributes are not for this.

[code]

[2016-05-17 14:11] auipga commented on #859
Can't I set this to the form instead of each single field?

[2016-05-19 09:08] jonny827 commented on #1164
A) @isometriks Thank you for such a quick reply to my inquiry. Thank you for clarifying your comment.  I agree that adding undue complexity to a template that in 95%+ of use cases is problematic.

B) I completely understand that you would want to keep the bundle isolated and on it's own release schedule (presumably aligning somewhat with Bootstrap major versions) and of course following Symfony re

[2016-05-19 10:36] jonny827 opened #1169 "Badges in Menus"
@isometriks  @phiamo

I would like to be able to have badges in my menus for example next to the [inbox icon] Inbox 42    where the 42 is a badge just like in the examples that shows how many unread messages a user has or it could be for number of Shopping Cart items, etc.

Current perceived options

1. Keep it part of the label such as (42) with "( )".
2. Remove the label except for the (42) and

[2016-05-19 10:42] jonny827 commented on #1156
Are you still having issue?  Have you followed the minimum instructions for the config.yml? If so, can you reinstall with the latest release and post if you have any more issues?

[code]

[2016-05-19 15:59] #1156 closed

[2016-05-19 19:01] isometriks commented on #1169
We could add this to the menu extension as an option and alter the template, similar to how we do icons. Shouldn't be that hard.

[2016-05-20 15:39] peshi commented on #1169
@isometriks badge-class > badge_class in https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/extensions/2-navbars.md

[2016-05-20 15:41] isometriks commented on #1169
That one should be okay, I only change it when I set the extra. In the actual options it's a hyphen

[2016-05-20 15:42] peshi commented on #1169
Ah, my bad :)
👍

[2016-05-20 15:42] #1169 closed

[2016-05-21 12:01] jonny827 opened #1174 "Bottom Navbar & Top and Bottom Navbar On Same Page"
I would like the option to have an additional navbar at the bottom of the page as well.  This requires allowing bottom navbars and allow for multiple navbars on one page.  For sites with complex navigation this would solve many of their problems including but not limited to an "Admin Menu" that appears upon user authentication.

Others users want this, and some probably have wanted this but have n

[2016-05-22 21:15] webspin opened #1176 "collection prototype ignores horizontal_input_wrapper_class"

[2016-05-22 21:25] webspin commented on #1176
ok, apparently I needed to add 'horizontal' => true to each of the collection child's elements...

[2016-05-22 21:25] #1176 closed

[2016-05-23 13:14] Neodork commented on #1161
@isometriks So I looked into it I just couldn't find where to set the parameter (if actually required). If I set an array it goes to the remap function which is not what I want here. Any help would be appreciate

[2016-05-23 15:59] #1148 closed

[2016-05-24 01:52] jonny827 commented on #1072
@isometriks @phiamo

Would you like some assistance on this one?

I myself am having some issues trying to use bootstrap "out of the box" with the bundle and maybe I could help with common hurdles section (from a first-timers perspective) and have some input on the components I have implemented so far.

[2016-05-24 02:01] jonny827 commented on #953
ping @afurculita   Would you like some help on this ?

 I believe this would help have better separation of concerns and follow strong pattern from bundles that MopaBoostrapBundle expands upon such as KNPMenu/KNPMenuBundle.  Expanding the community brings more contributors to the project and allows developers the option to better focus on the interaction with Symfony through the bundle.

[2016-05-24 07:38] phiamo commented on #1072
@jonny827 of course feel free to open a PR for discussing howto do that effectivly

[2016-05-24 10:13] jonny827 commented on #1072
@phiamo Unfortunately I have an active PR that needs to be merged already so I am unable to open a second one.

This is one reason I believe we should migrate MopaBootstrap Documentation into its own repository especially is the library ever gets split from the bundle like discussed in Issue #953.

The second reason is that the documentation can contain a great deal of examples and use cases that

[2016-05-24 10:26] phiamo commented on #1072
@jonny827
thanks for explanaition
for the moment the sandbox contains anyways most of the living examples, maybe thats a good point to start https://github.com/phiamo/MopaBootstrapSandboxBundle

[2016-05-27 11:52] Apoill19 opened #1177 "Deleted item from collection doesn't work"
Hello all,

Since yesterday, I have an issue to **delete item form a collection** (no problem add an item).

In fact, when I click on the button delete, the js file which manage collection do the job and **remove the item form the DOM**. But, when I submit the form, item deleted is always in the post request !

I'm complety lost, because it was working before, and I don't understand what I've done

[2016-06-29 12:37] Soullivaneuh opened #1178 "Integrate the basic Bootstrap 3 Symfony form theme"
This is out since 2.6: http://symfony.com/blog/new-in-symfony-2-6-bootstrap-form-theme

I think we should:
- Bump Symfony minimum requirement to 2.8+
- Use this theme to simplify the work on this bundle

What do you think?

[2016-06-29 14:35] rejsmont commented on #1167
Current workaround is to set `'horizontal' => true` for each child, though this is not clean and optimal solution. Also there is a duplicate issue #1176.

[2016-07-14 16:28] stephanvierkant commented on #976
I finally added a Pull Request.

It wasn't that difficult, but because I was overriding the form theme, it hadn't a high priority for me. When I started a new project and encountered the same problem, I decided to fix this.

[2016-07-15 08:04] MichaelMure commented on #1167
Hi, I described my problem in Symfony's issues (https://github.com/symfony/symfony/issues/19355) and a dev suggested that it could be an usage error by MopaBootsrap (https://github.com/symfony/symfony/issues/19355#issuecomment-232362421)

Can someone experienced here have a look on the issue ?

[2016-07-26 09:38] Knagg0 opened #1181 "Undefined index: horizontal_label_div_class"
After upgrading from 3.0.0 to 3.0.1 our tests fail:

Undefined index: horizontal_label_div_class
 ./vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Form/Extension/HorizontalFormTypeExtension.php:114
 ./vendor/symfony/symfony/src/Symfony/Component/Form/ResolvedFormType.php:195
 ./vendor/symfony/symfony/src/Symfony/Component/Form/ResolvedFormType.php:187
 ./vendor/symfony/symfony/src/Symfon

[2016-07-26 12:37] HeahDude commented on #1167
Hi there, I confirm that a prototype should not be considered as a root form.

It used to work because of a kind of bug in the prototype creation from CollectionType, is there anyway you can fix it in your code? Thanks.

[2016-07-26 14:58] isometriks commented on #1181
Have you made sure your cache is cleared? There is a container update which passes that array key into the form extension

[2016-07-26 16:00] isometriks commented on #1167
@HeahDude can you try my PR?

https://github.com/phiamo/MopaBootstrapBundle/issues/1180

Check here to grab it if you don't know how: https://help.github.com/articles/checking-out-pull-requests-locally/

I just added a bunch more tests. I think it should be working properly now.

[2016-07-26 16:30] HeahDude commented on #1167
@isometriks thanks for taking care of this issue :)

Actually I don't use this lib, I was just saying that this "regression" is a bug fix on symfony side so it should be fix on "this" side. Thanks again, cheers!

[2016-07-26 16:40] isometriks commented on #1167
Ah ok, thanks!

[2016-07-26 18:23] isometriks commented on #1167
@corphi @rejsmont @MichaelMure I think I've solved this, try out v3.1.0 and let me know if you have better luck. You shouldn't have to set horizontal on all children anymore.

[2016-07-26 18:23] isometriks commented on #1176
@webspin try out v3.1.0 this should be working better now. You won't have to put it on every child anymore.

[2016-07-27 07:53] Knagg0 commented on #1181
Yes, i cleared the cache and also deleted the content of the cache directory to be sure.

[2016-07-28 07:54] NyoCon commented on #1181
same problem here, i changed version from "~3.0.0" to "3.0.0".

[2016-08-04 05:57] cbeyer commented on #1181
I had the same problem, after upgrading Symfony v2.7.15 => v2.7.16
During composer update :
- mopa/bootstrap-bundle dev-master (5f05310 => 95246ce)
- twbs/bootstrap dev-master (fb75e86 => 7e2741e)
It was resolved after cache clear.

[2016-08-05 08:25] yupmin opened #1183 "Unknown "craue_addDynamicStepNavigationParameter" filter in "MopaBootstrapBundle:Form:formflow_stepList.html.twig" at line 7."
craue_addDynamicStepNavigationParameter twig filter is not exists.

so. craue/formflow-bundle is required.

https://github.com/craue/CraueFormFlowBundle/blob/master/Twig/Extension/FormFlowExtension.php

[2016-08-05 09:56] MichaelMure commented on #1167
It does work for me, thanks !

[2016-08-05 15:38] #1167 closed

[2016-08-12 03:27] #1174 closed

[2016-08-12 11:58] jonny827 commented on #1183
Yes, if you read the installation instructions for this bundle [here](https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/install/1-getting-started.md))  you would see that that bundle is part of the suggested composer bundles to take full advantage of the bundle.  Please close this Issue if this answers your question. Thank you.

[2016-08-12 12:03] jonny827 commented on #1178
I like that idea.  When I had a moment I was going to open a PR in the sandbox repository as discussed in #1072 .  What does everyone else think?  @isometriks @phiamo

[2016-08-12 12:07] jonny827 commented on #1181
Are you still receiving errors? Are you able to upgrade to the latest Symfony in the 3.1.x branch ? Any further details if you are still having trouble would be helpful. Check the asset dump or proper Symlink has been setup, otherwise it may be a bug that exists in that branch of Symfony.   Provide more details or please close this Issue if you have resolved this already. Thank you.

[2016-08-12 14:27] phiamo commented on #1178
Yeah go for it 😊

Am 12.08.2016 14:03 schrieb "jonny827" <notifications@github.com>:

[2016-08-14 11:34] cbeyer commented on #1181
I wrote :

[2016-08-16 00:35] yupmin commented on #1183
yes. i got it.

[2016-08-16 00:35] #1183 closed

[2016-08-16 12:07] jonny827 commented on #1181
@Knagg0  Were you able to resolve your issue? If, so please let us know the solution and close this Issue.  If not, please provide more details so that we may be able to assist you.

[2016-08-16 13:21] jonny827 commented on #1157
I have never used Silex. However, as it has been developed by the same developer as Symfony, and it is intended to be a a related micro-framework I believe it is possible.

While on a related thread [Should Symfony integrate Twitter Bootstrap Form Templates Discussion](https://github.com/symfony/symfony/pull/10272)  I read that "this code should not belong to a bundle, because it is not re-usable

[2016-08-16 13:26] phiamo commented on #1157
hi folks thanks for pointing out, we also were discussing splitting this bundle into a library with reusable code and a bundle with symfony specific features, maybe that would help further

[2016-08-16 13:42] jonny827 commented on #1178
I have created an Issue to discuss this further. Please comment on it here [MopaBoostrap Documentation / Future of MopaBootStrap #47](https://github.com/phiamo/MopaBootstrapSandboxBundle/issues/47)

[2016-08-16 13:44] jonny827 commented on #1157
Great timing @phiamo.  I was just creating an Issue to discuss this topic.   @EvilKraft If you are interested in following, commenting, and or helping out please check out [MopaBoostrap Documentation / Future of MopaBootStrap #47](https://github.com/phiamo/MopaBootstrapSandboxBundle/issues/47)

[2016-08-16 13:48] jonny827 commented on #1072
I have begun an  Issue in the Sandbox Repository to discuss [MopaBoostrap Documentation / Future of MopaBootStrap #47](https://github.com/phiamo/MopaBootstrapSandboxBundle/issues/47) .   Can we move this discussion there?  I think it we discuss the future of MopaBoostrap then we can then decided where the Documentation/Bundle/Sandbox/(and Potentially Library) all need to end at up.

[2016-08-16 13:49] jonny827 commented on #953
I have begun an  Issue in the Sandbox Repository to discuss [MopaBoostrap Documentation / Future of MopaBootStrap #47](https://github.com/phiamo/MopaBootstrapSandboxBundle/issues/47) . Lets discuss refactoring there. @afurculita come join the discussion!

[2016-08-18 05:49] EvilKraft commented on #1157
Hi @jonny827. Thank you for your advice, but I created the issue before I had already read that article. And it was not help me.

[2016-08-18 05:49] #1157 closed

[2016-08-22 22:46] #1181 closed

[2016-08-24 16:54] bartek1234321 opened #1188 "after update to 3.1 symlink crashed"
When I type php app/console mopa:bootstrap:symlink:less below error occures:

RecursiveDirectoryIterator::__construct(C:\wamp\www\xxxx\vendor/mopa/bootstrapbundle/Mopa/Bundle/BootstrapBundle\Resources/public/bootstrap..\C:\wamp\www\xxxx\vendor/twbs/bootstrap,C:\wamp\www\xxxx\vendor/mopa/bootstrapbundle/Mopa/Bundle/BootstrapBundle\Resources/public/bootstrap..\C:\wamp\www\xxxx\vendor/twbs/bootstrap)

[2016-08-24 19:16] jonny827 commented on #1188
@bartek1234321 You need to use bin/console as there is no console executable in the app directory.    Try that and let me know if you still have any issues.  Also, where did you get app/console,  is it in the projects documentation somewhere? If so, please link me to the page so I can get it fixed please.

[2016-08-24 19:41] bartek1234321 commented on #1188
I use symfony 2.8 and i don't have console i bin directory, some hours ago i was using s 2.6 and everything worked correctly ;)

[2016-08-24 20:30] bartek1234321 commented on #1188
temporary solution ;) cp -Rv vendor/twbs/bootstrap vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/

[2016-08-24 22:12] phiamo commented on #1188
Hi bartek,
My wife just translated the error message for me and it looks for me like
directory seperators are mixed with slashes and backslashes...
Could you confirm?
Maybe some part or the command is not using Windows compatible
DIRECORY_SEPERATOR constant?

Am 24.08.2016 22:30 schrieb "bartek1234321" <notifications@github.com>:

temporary solution ;) cp -Rv vendor/twbs/bootstrap
vendor/mopa/boot

[2016-08-24 23:16] jonny827 commented on #1188
@bartek1234321    I would recommend upgrading to Symfony version 3.1.x if you can. (2.8 and 3.0 are basically the same minus removing of backwards compatibility going forward)   This eliminates a possible cause of error.

Secondly, do you have LESS properly configured as per here [MopaBootrapBundle LESS Install Instructions](https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/i

[2016-08-25 00:11] bartek1234321 commented on #1188
@phiamo yes I confirm it she's right. it's look like but which part? ;) I use only php app/console mopa:bootstrap:symlink:less exactly symfony mopa:bootstrap:symlink:less because I use intellij + symfony plugin + command line tool plugin. But none of them works correctly. Before update symfony it worked ;)

@jonny827 I will upgrade symfony to 3.1 but I'm doing it step by step so: 2.6 -> 2.8 -> 3.x

[2016-08-26 09:58] mulcek opened #1189 "SF2.8 Missing translations «, »"
Symfony 2.8 profiler reports missing translations for First and Last for translation domain 'pagination'.  Warning was issued in previous SF versions also.

[2016-08-26 10:02] mulcek commented on #1189
Profiler warning:

![screenshot from 2016-08-26 12-00-40](https://cloud.githubusercontent.com/assets/19647780/18001812/fb7ae4a4-6b84-11e6-8d82-1ba22677a79a.png)

[2016-09-12 20:35] cirovargas opened #1191 "Symfony 3 horizontal_wrap_children"
Hi, im getting this error on some collection types (not all):

[code]

Solved with a 'form.parent.vars.horizontal_wrap_children is defined' on fields.html.twig:550

`{% set show_horizontal_wrapper = horizontal and not (form.parent is not null and 'collection' in form.parent.vars.block_prefixes and form.parent.vars.horizontal_wrap_children is defined and form.parent.vars.horizontal_wrap_children is

[2016-09-13 03:08] isometriks commented on #1191
`horizontal_wrap_children` was removed. Have you copied the template or something from the repository? It's gone in 3.1 so that error shouldn't exist anymore. What version are you on?

[2016-09-13 13:10] cirovargas commented on #1191
Ive copied and make some changes on the base template, but this `horizontal_wrap_children` is on the bundle template

"symfony/symfony": "3.0.*",
"mopa/bootstrap-bundle": "^3.0",

[2016-10-21 11:19] TomSchillemans commented on #979
@phiamo When I run this command as Administrator I see the following

![image](https://cloud.githubusercontent.com/assets/3533733/19596561/985c42c8-978f-11e6-8e8f-b1bc50bf20f6.png)

What could this problem be?

[2016-10-25 10:01] toby-griffiths opened #1193 "Knp Menu translations on menu labels not supporting translation domain"
Version affected: v3.1.0

I've just discovered that setting the translation domain on the menu items does not work in this bundle.

I've tracked this down to the `Mopa/Bundle/BootstrapBundle/Resources/views/Menu/menu.html.twig` template, which has the `label` block, which uses translations, but does not support the translation domain key as used in the `KnpMenuBundle::menu.html.twig` template.

As

[2016-10-25 18:20] phiamo commented on #1193
Thanks a lot!

Mit freundlichen Grüßen
Philipp A. Mohrenweiser

You don't need to know everything,
you just need to know where to find it:
https://www.booksync.net
______________________________________

Mohrenweiser & Partner

Web: http://www.mohrenweiserpartner.de

2016-10-25 12:01 GMT+02:00 Toby Griffiths <notifications@github.com>:

[2016-10-25 19:11] isometriks commented on #1193
I looked through and it seems like there should be no BC issues here either, just allows you to set the translation domain if you want. This defaults to `messages` which is the same as not providing one at all.

[2016-10-25 19:11] #1193 closed

[2016-10-26 09:20] toby-griffiths commented on #1193
Thanks for the quick acceptance of this.  Have an awesome day :o)

[2016-10-26 10:21] zigomario opened #1195 "Could not load "tab""
Hi,

like example "form tab" i try something like that :

 $info = $builder->create("about", 'tab', array(

            'label'=>'Info',
            'inherit_data'=>true
        ));

But message error : Could not load type "tab"

Why ? i need to set something in config.yml to activate "tab" type ?

I think my bundle is good:
Template extend => ok
Activate kernel => ok.

Thanks

[2016-10-26 13:39] zigomario commented on #1195
my bad doc is not for Symfo 3.
Now it's :

`$info = $builder->create("about", 'TabType::class', array(

        'label'=>'Info',
        'inherit_data'=>true
    ));
`

[2016-10-26 13:39] #1195 closed

[2016-10-26 21:25] #1191 closed

[2016-10-27 12:06] zigomario opened #1196 "form_widget(form) .... problem ?"
I try to use TabformType.
No error but fields are not in tab :
![capture](https://cloud.githubusercontent.com/assets/16187629/19766390/ddc0f7ba-9c4d-11e6-94f2-9da665ff7b83.PNG)

The whole form is render to one page
Of course, nothing add html code for tab boostrap work ( div class"tab-content" / div class="tab-pane" )

I have all check, i don't see my mistake.
It's working for someone ?

[2016-10-27 12:43] zigomario commented on #1196
My solution :

{% block content %}
  <div class="row-fluid">
    <div class="span4">
      {{ form_tabs(form) }}
    </div>

    <div class="span8">
      <div class="tab-content">
        <div id="cv_cv" class="tab-pane active">
            {{ form_widget(form.cv) }}
        </div>
        <div id="cv_plop" class="tab-pane">
            {{ form_widget(form.competence) }}
        </div>
      </di

[2016-10-27 14:00] #1153 closed

[2016-10-27 14:40] isometriks commented on #1196
Can you post your PHP form code?

[2016-10-27 16:43] zigomario commented on #1196
Thanks to regard;

**## my FormType :**

    <?php

             namespace OC\PlatformBundle\Form;

        use Mopa\Bundle\BootstrapBundle\Form\Type\TabType;
         use Symfony\Component\Form\AbstractType;
         use Symfony\Component\Form\Extension\Core\Type\CollectionType;
         use Symfony\Component\Form\Extension\Core\Type\EmailType;
    use Symfony\Component\Form\Extension\Core\Type\S

[2016-10-27 17:09] isometriks commented on #1196
Hmm, that all looks right. I will have to test a new symfony install and see if there is a bug. What version are you using?

[2016-10-27 17:15] zigomario commented on #1196
Ok. Symfo 3.

my requires :

     `    "require": {
        "php": ">=5.5.9",
        "symfony/symfony": "~3.0",
        "doctrine/orm": "^2.5",
        "doctrine/doctrine-bundle": "^1.6",
        "doctrine/doctrine-cache-bundle": "^1.2",
        "symfony/swiftmailer-bundle": "^2.3",
        "symfony/monolog-bundle": "^2.8",
        "sensio/distribution-bundle": "^5.0",
        "sensio/framework-e

[2016-10-27 18:15] isometriks commented on #1196
Hmm, I just wrote some tests to check markup for 3.0 and it seems to be rendering okay. Can you paste your `mopa_bootstrap` config? I haven't had a chance to create a test project yet

[2016-10-27 19:05] zigomario commented on #1196
to be honest, i m not sure to have understand config :

mopa_bootstrap:
    form:
        templating: MopaBootstrapBundle:Form:fields.html.twig
        horizontal: true
        horizontal_label_class: col-sm-3 control-label
        horizontal_label_div_class: null
        horizontal_label_offset_class:  col-sm-offset-3
        horizontal_input_wrapper_class:  col-sm-9
        render_fieldset:

[2016-10-27 19:05] zigomario commented on #1196
i have no indent here, but it's ok .yml

[2016-10-27 19:52] zigomario commented on #1196
wowwwwwwwwwwww....bug find !
My bad sorry  cause bootsrap template on twig :+1:

    twig:
        debug:            "%kernel.debug%"
        strict_variables: "%kernel.debug%"
        form_themes:
            - 'bootstrap_3_layout.html.twig'

[2016-10-28 09:24] zigomario opened #1198 "collection JS => .size() change to .lenght"
collection.js is build with jquery 2.~
But with jquery 3.x , collection js is broken cause .size()  .( deprecated )

[2016-10-28 09:53] zigomario commented on #1196
Warning: spl_object_hash() expects parameter 1 => again and again my bad

Juste need to add option data_class=>'.../../entity' and  'inherit_data'=>true

I close

[2016-10-28 09:53] #1196 closed

[2016-11-07 13:49] stephanvierkant commented on #1198
You're right: we should use .length() instead.

.size()

 https://api.jquery.com/size/

.length()

https://api.jquery.com/length/

[2016-11-07 14:43] #1198 closed

[2016-11-08 12:21] zsimaiof opened #1200 "Cannot correctly extend the base.html.twig"
Hi
i have just installed mopaBootstrap Bundle in a test Symfony 2.8 app .
I am a beginner at Symfony and i have followed all the installation instructions of MopaBootstrapBundle.
It seems that it have been correctly installed along with the symlink via composer.
I have not installed less and i am using assetic also (which i think it does not matter in the issue i'm facing).
Inside my own Bundle i

[2016-11-16 14:32] damien-thiesson commented on #1181
I have the same issue: Symfony 3.1.6, Map, and the 3.1.1 branch.

    use Mopa\Bundle\BootstrapBundle\Tests\Form\TypeTestCase;

    class TypeMessageTypeTest extends TypeTestCase
    {
        public function testSubmitValidData()
        {
            $form = $this->factory->create(TypeMessageType::class, new TypeMessage());
        }
    }

I have the following exception:

    1) Tests\FrontBund

[2016-11-16 16:13] damien-thiesson opened #1201 "[Unit tests] Undefined index: horizontal_label_div_class"
Refering to the closed issue #1181, I still have the same one: Symfony 3.1.6, Map, and the 3.1.1 branch.

[code]
I have the following exception:

[code]
The form:

[code]

[2016-11-26 18:24] isometriks commented on #1201
Would need to add this argument here: https://github.com/phiamo/MopaBootstrapBundle/blob/master/Tests/Form/TypeTestCase.php#L111

I can try to get around to this when I get a chance. This should probably be moved to src/Test as well to follow how Symfony does it. I might have time to make a PR next week but if you can do it sooner I will merge.

[2016-12-05 14:42] stephanvierkant commented on #1201
See #1179

[2016-12-05 14:42] stephanvierkant commented on #1181
See #1179

[2016-12-05 15:21] stephanvierkant commented on #1143
Ok, let's bump this discussion :).

It think we should require Symfony 2.7 as a minimum, since older version (and 3.0) are not supported anymore: http://symfony.com/doc/current/contributing/community/releases.html

[2016-12-05 15:30] stephanvierkant commented on #1152
I think you can change this code: https://github.com/phiamo/MopaBootstrapBundle/blob/5ee09c87f173c9be2eda9d50b4b3bd353e30ef91/Resources/public/js/mopabootstrap-collection.js#L207

Use `$btn` to get the class/id/data attributes/whatever from your button to alter the row.

[2016-12-05 16:24] stephanvierkant opened #1203 "PHPUnit_Framework_TestCase::getMock() is deprecated"
When running tests, I get this error message:

[2016-12-05 16:31] #1201 closed

[2017-01-07 17:06] tacman opened #1204 "Twig2 Support"
Twig2 is officially out.

http://twig.sensiolabs.org/doc/2.x/

Is it possible allow Twig 2 or Twig1 in Mopa?  Currently it's locked to Twig1.

[2017-01-09 13:50] phiamo commented on #1204
@tacman can you make a PR?

[2017-01-10 21:01] tacman commented on #1204
Looks like twig 2 requires PHP 7, my PR is failing.

https://travis-ci.org/phiamo/MopaBootstrapBundle

[2017-02-03 13:45] Smart-Core commented on #1204
Any ideas? :)

[2017-02-03 14:06] #1189 closed

[2017-02-03 14:12] heddn opened #1208 "Twig 2.x support"
I'd like to re-open the discussion of adding Symfony 3.x support. I see #1148 was opened a year ago, but no real action performed yet. Perhaps this can get the ball rolling by planning out the steps necessary to make the code functional with Symfony 3.

[2017-02-03 17:51] isometriks commented on #1208
It should already be working on Symfony3? What are you having trouble with?

[2017-02-03 19:11] heddn commented on #1208
$  composer require mopa/bootstrap-bundle:~3 twbs/bootstrap:~3
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - mopa/bootstrap-bundle v3.0.0-beta2 requires symfony/symfony ~2.3-dev -> satisfiable by symfony/symfony[2.3.x-

[2017-02-03 19:24] isometriks commented on #1208
That's strage, works for me and installed Symfony 3.2

php composer.phar require mopa/bootstrap-bundle:~3.1 twbs/bootstrap:~3
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Package operations: 32 installs, 0 updates, 0 removals
  - Installing symfony/class-loader (v3.2.2) Downloading: 100%
  - Installing psr/log

[2017-02-03 19:34] phiamo commented on #1208
Could you propbably show your composer.json ?

Mit freundlichen Grüßen
Philipp A. Mohrenweiser

You don't need to know everything,
you just need to know where to find it:
https://www.booksync.net
______________________________________

Mohrenweiser & Partner

Web: http://www.mohrenweiserpartner.de

Craig Blanchette <notifications@github.com> schrieb am Fr., 3. Feb. 2017 um
20:24 Uhr:

[2017-02-03 19:35] heddn commented on #1208
"require": {
        "doctrine/doctrine-bundle": "~1",
        "doctrine/doctrine-cache-bundle": "~1",
        "doctrine/orm": "~2",
        "eightpoints/guzzle-bundle": "~5",
        "geerlingguy/drupal-vm": "~4",
        "guzzlehttp/guzzle": "~6",
        "incenteev/composer-parameter-handler": "~2",
        "knplabs/knp-menu-bundle": "~2",
        "knplabs/knp-paginator-bundle": "~2",
        "

[2017-02-03 21:51] heddn commented on #1208
I think the reason is I was using twig 2.x.I finally got it working, by dropping back to twig 1.x.

[2017-02-03 22:06] isometriks commented on #1204
It's passing now

[2017-02-03 22:11] isometriks commented on #1203
This is fixed now

[2017-02-03 22:11] #1203 closed

[2017-02-03 22:12] isometriks commented on #1208
I just merged allowing Twig 2 so this should be all set too, I'm going to add a new tag as well

[2017-02-03 22:24] heddn commented on #1208
Re-titling. I think that fixed things up nicely; composer liked it at least. Thanks for the fast support.

[2017-02-03 22:24] #1208 closed

[2017-02-03 22:36] isometriks commented on #1208
:+1:

[2017-02-07 15:28] #1204 closed

[2017-02-07 17:00] #1188 closed

[2017-03-17 19:27] paul-mesnilgrente commented on #275
Hi everybody,

is there somebody who has found a "clean" solution to override this fieldset ? I like the idea of the fieldset. But there is no translation for this label in fosuser form type for the @phiamo solution. And in my opinion, the redefinition of the form type as @jcroll suggests is too complicated for this little point.

So is there a clean solution ?

Thanks.

[2017-03-18 22:47] deantomasevic commented on #1159
Same error here, but with less.

[code]

![screenshot 2017-03-18 23 46 50](https://cloud.githubusercontent.com/assets/2656987/24076603/33a706b8-0c35-11e7-8344-6cd7a82fe1a0.png)

[2017-03-18 22:51] deantomasevic commented on #1159
Hi,

i found a solution: https://github.com/phiamo/MopaBootstrapBundle/issues/1114

Run:
`php bin/console mopa:bootstrap:install:font`
`php bin/console assetic:dump --env=dev`
`php bin/console cache:warmup --env=dev`

Everything is fine now.

[2017-03-20 15:07] daveyand opened #1213 "How to not include the .less css and js files from MOPA"
Hi there,

i've just installed the MOPA bundle for Symfony 3.x and i'm having issues with horizontal form rendering. Looking at the resources that are loaded i can see that the bootstrap.css.map is always loaded, whereas before it wasnt. Am i doing something wrong? I dont want to use the .less stuff, it's a little over my head atm. so i'm keen just to keep the basic CSS and not have to less it.

I

[2017-03-20 17:28] mchojrin commented on #589
@isometriks Your comment was exactly what I've been missing out on... thanks!
I spent a lot of time looking at my composer.json and AppKernel... Is that documented on the symfony site??

[2017-03-20 17:49] isometriks commented on #589
@mchojrin it's just here in our documentation: https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/extensions/2-navbars.md

The reason you have to enable it is because not everyone will be using knp menu bundle so it won't load services that doesn't exist.

[2017-03-20 17:54] isometriks commented on #1213
Are you using one of the base templates provided here? If you're not extending the LESS base template then the assets won't end up on your page automatically. If you extend just the base.html.twig from this project then it won't include any assets. You could just include bootstrap from CDN as well:

[code]

Which is good if you want to combine assets, but otherwise just link it directly:

[code]

[2017-03-23 17:12] mchojrin commented on #1139
@bluntelk Where can you set such configuration?

[2017-03-23 23:40] bluntelk commented on #1139
@mchojrin if memory serves, you import it via your .less file in Resources/public/less/blah.less

It has been quite some time though since doing this

[2017-07-02 17:39] deantomasevic opened #1214 "JavaScript Error: DateTimePicker is not a function"
Hi,

after i updated my project to symfony 3.3.2, i got this error:
![screenshot 2017-07-02 19 32 06](https://user-images.githubusercontent.com/2656987/27772179-2fb31896-5f5d-11e7-8bba-653f8895e6ad.png)

This is my Form:
![screenshot 2017-07-02 19 32 43](https://user-images.githubusercontent.com/2656987/27772181-3da56d3c-5f5d-11e7-8bb6-c8b87a0d41df.png)

**Generate Form:**
[code]

**My base.html.t

[2017-08-25 19:41] bderidder opened #1217 "500 Internal Server Error - Unknown "sameas" test. Did you mean "same as"?"
When running in Symfony 3.2 including this bundle will result in a 500 Internal Server Error in vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/views/Form/fields.html.twig at line 207

When I change "sameas" to "same as" on lines 207 and 246, it runs again. I assume that there are typos are usages of now removed deprecated Twig functions used in this bundle?

For completeness, t

[2017-08-25 19:45] bderidder commented on #1217
Some further investigation shows that this looks like a regression introduced by commit (1e73d9006045431769d80184032972376e556dd3).

[2017-08-28 14:28] jcrombez commented on #1183
"part of the suggested" but triggers an error :/

[2017-09-05 15:28] rossmotley commented on #1143
I think it would be great to get some more visibility around the versioning strategy, for example, v3.1.2 to v3.2.0 introduced a breaking change for us with the horizontal/layout changes.

Is the aim to follow Semantic Versioning?

[2017-09-05 15:39] rossmotley commented on #1143
@isometriks I can open a separate issue for it, perhaps? Is the aim to follow Semantic Versioning, though?

[2017-09-05 15:42] isometriks commented on #1143
Yes, the aim is to follow Semver. We made a change in a BC way, so we changed the minor version. If `horizontal` is not working anymore then we will fix 3.2.* so it still works.

[2017-09-05 15:51] rossmotley opened #1219 "Potential BC break from new layout option"
In #1044 a new `layout` option was introduced. This caused a breaking change for us because one of our form types was already setting a `layout` view variable in `\Symfony\Component\Form\FormTypeInterface::buildView`.

[2017-09-05 16:11] rossmotley commented on #1143
@isometriks Thank you, I have created #1220 and #1219

[2017-09-05 16:22] isometriks commented on #1219
Hmm. That is unfortunate that it collides like that. We probably could have / should have prefixed some of the options with `mopa_` but now I feel like it's more of a BC break to change them now. Realistically not many people are probably using it but in the case where somebody has extended the form templates it could cause a break for them.

Can you just change your view variable to something els

[2017-09-05 16:34] rossmotley commented on #1219
@isometriks Perhaps adding a PHP notice/warning if there's a layout view variable already would be worth doing.

I guess it also would be good add a warning to the text at https://github.com/phiamo/MopaBootstrapBundle/releases/tag/v3.2.0 and perhaps https://github.com/phiamo/MopaBootstrapBundle/blob/master/CHANGELOG.md too.

For our project we've already resolved it by changing the names of our va

[2017-11-01 16:24] garak commented on #1164
I just stumbled upon this issue, looking for a solution to use multi-level menus with KnpMenuBundle.
I managed to get it working using CSS from https://codepen.io/ajaypatelaj/pen/prHjD and `submenu` attribute.
I'm sorry but I can't recall where I got my custom extension of knp_menu.html.twig, I use it since a while and I forgot the source. If needed, I can post it here.

[2017-11-01 16:29] #1217 closed

[2017-11-01 16:30] #1219 closed

[2017-11-01 16:30] #1200 closed

[2017-11-01 16:31] #1178 closed

[2017-11-01 16:31] #1161 closed

[2017-11-01 16:32] #1152 closed

[2017-11-01 16:32] #979 closed

[2017-11-01 16:32] #989 closed

[2017-11-01 16:32] #1032 closed

[2017-11-01 16:32] #1034 closed

[2017-11-01 16:32] #1037 closed

[2017-11-01 16:32] #1057 closed

[2017-11-01 16:32] #1072 closed

[2017-11-01 16:32] #1089 closed

[2017-11-01 16:32] #1096 closed

[2017-11-01 16:34] #1111 closed

[2017-11-01 16:36] #886 closed

[2017-11-01 16:36] #941 closed

[2017-11-01 16:36] #1123 closed

[2017-11-01 16:36] #1124 closed

[2017-11-01 16:36] #1127 closed

[2017-11-01 16:36] #1133 closed

[2017-11-01 16:36] #1134 closed

[2017-11-01 16:36] #1139 closed

[2017-11-01 16:36] #1159 closed

[2017-11-01 16:36] #1213 closed

[2017-11-01 16:36] #1214 closed

[2017-11-02 16:35] felipyamorim opened #1222 "Bootstrap 4"
Are there plans in the development roadmap to support bootstrap 4?

[2017-11-07 13:22] tacman commented on #1222
Symfony 3.4 now includes bootstrap 4 support:

https://symfony.com/blog/new-in-symfony-3-4-bootstrap-4-form-theme

[2017-11-08 18:33] sberthelot commented on #1114
I have just encountered the same problem.

In fact if your symfony URL base is not at the root of the virtual host, fonts path is wrong.
Using the trick from @paljinov (relative path) is working but I must also use cssrewrite filter after.

I disabled _apply_to_ in config.yml to avoid a bug with sass and _mopabootstrapbundle.scss_ (the file for versions before 3.2) so I have to use in my twig styl

[2017-11-09 10:23] metalmini commented on #1106
Why is this still a problem? Are there any workarounds for this?

[2017-11-11 23:41] isometriks commented on #1106
I assume because nobody has fixed it yet

[2017-11-21 05:57] isometriks opened #1224 "FIx tests for Symfony4"
https://github.com/sonata-project/SonataAdminBundle/pull/4762/files

Issue with the form renderer

[2017-12-23 12:54] tacman opened #1227 "Installation instructions for Symfony4"
Even setting minimum stability to 'dev' in composer, I can't seem to install the bundle in Symfony4:

[code]

Is it even possible to install in Symfony4?

[2017-12-23 16:46] isometriks commented on #1227
Try now?

[2017-12-23 16:47] #1224 closed

[2017-12-25 12:25] tacman commented on #1227
Yep, installs now -- thanks!

A flex recipe would make the setup even easier, especially dealing with the
default version of bootstrap.

On Sat, Dec 23, 2017 at 11:46 AM, Craig Blanchette <notifications@github.com

[2017-12-28 20:37] jgrygierek opened #1229 "Font Awesome 5"
Hi, it would be great to be able to use FA 5.

[2017-12-28 21:37] jgrygierek opened #1230 "Input group size"
Hi, I don't see any option to set input group size. I think it should be implemented in a future.

[2018-03-09 16:54] MisatoTremor opened #1233 "Inline form spacing"
Elements in inline forms currently stick together as ``form_row`` uses spaceless.

The example of the BS3 documentation shows this:
[code]
But is rendered like this (note that ``widget_form_group_start`` does not use spaceless):
[code]

But I'm unsure if removing spaceless from ``form_row`` might break something else so this might be a bit more complicated.

Ideas?

[2018-05-14 15:03] nmoreaud opened #1235 "Symfony 3.4 warnings"
I encounter these warnings since I updated symfony to version 3.4 :
[code]

[2018-05-28 07:55] TorbenLundsgaard commented on #1235
Being handled: https://github.com/phiamo/MopaBootstrapBundle/pull/1231

[2018-08-05 16:21] vialcollet opened #1238 "Sections in forms"
Hi is it possible to setup sections in forms (other than tabs)?
I didn't see any option in the doc.
One solution would be to assign a specific call to the first field of a section but I don't know how to assign it to the form-group div rather than to the input itself.
Ideas are welcome.
Thanks!

[2018-08-07 01:44] isometriks commented on #1238
You can add a form as a child:

[code]

And add any classes you might want. Really this is probably better solved in your view than in your forms, once you start doing stuff like this you'll have to structure your data differently to fit into sub arrays unless you use `inherit_data`.

[2018-09-07 07:19] PaddyLock opened #1239 "new line inserted at start for every response when MopaBootstrapBundle included with Symfony 4"
It took me a while to track down the source of this issue, but I was getting a new blank line at the start of every response returned, even debug error pages and JSON responses. I narrowed it down to including the MopaBootstrapBundle. I am using Symfony 4.1. If I edit the file Mopa\Bundle\BootstrapBundle\MopaBootstrapBundle and comment out the line

`use Symfony\Component\HttpKernel\Bundle\Bundle;

[2018-11-12 14:20] Katrienvh commented on #1229
Yeah, that would be great 😉

[2018-12-05 10:32] stephanvierkant commented on #1222
I think we should use Symfony's form theme instead. See this discussion: https://github.com/phiamo/MopaBootstrapSandboxBundle/issues/47

[2019-01-10 16:56] micromeers opened #1240 "Old version of glyphicons in use"
Could you please update the glyphicons in Resources/public/fonts/bootstrap to the latest version? Some symbols are missing in the ones that are in there now.

Thanks!

[2019-01-23 20:06] isometriks commented on #1240
You should use your own Glyphicons. Either grab from CDN or download and add to your own project and reference from there, don't use the ones from this project.

[2019-02-05 19:06] #1240 closed

[2019-02-05 19:07] #1235 closed

[2019-02-05 19:10] #1227 closed

[2019-06-05 00:41] DaniFuchoBasetis opened #1244 "Error when using the most recent 1.* Twig version (1.42.0, session_flash issue)"
The current bundle (version 3.3.0) uses session_flash and something has changed in the most recent version twig/twig (1.42.0) that raises an error.

Workaround: Forcing my site's composer.json to explicitely use twig/twig 1.41.0 temporary solves it.

[2019-06-11 15:41] vialcollet opened #1245 "Demo site down"
Hi
It looks like the demo site is down since several weeks now.
http://bootstrap.mohrenweiserpartner.de

[2019-06-11 17:29] phiamo commented on #1245
Yes, the server it was running had a HD failure ..
and i dont have any webspace with php atm, does anybode know a free
provider for symfony? the whole mopa bootstrap docu is just a mini symfony
project.. (the sandbox)

Am Di., 11. Juni 2019 um 17:41 Uhr schrieb Bastien Vial-Collet <
notifications@github.com>:

[2019-07-16 16:50] vanniekerkalex opened #1246 "Does "widget_addon_prepend" work with Symfony 4?"
I'm running Symfony 4 and installed MopaBootstrapBundle with composer: "composer require mopa/bootstrap-bundle", but the "widget_addon_prepend" on my forms do not work.

I get the following error: "The option "widget_addon_prepend" does not exist."

Besides installing the bundle with composer, I have not done anything else, is there anything I need to do to get it work? Is it Symfony 4 compatible?

[2019-07-16 17:19] isometriks commented on #1246
DId you add configuration to enable the form support?

[code]

[2019-07-16 17:48] vanniekerkalex commented on #1246
I wasn't sure where to add that? Please could you point me in the right direction...

Thank you!

[2019-07-16 18:34] isometriks commented on #1246
In any config file. If you're using flex create config/packages/mopa_bootstrap.yaml and add it there, if you have a app/config/config.yml add it there.

[2019-07-16 19:22] vanniekerkalex commented on #1246
Thanks! I added it and it's not giving any errors, but it's still not showing the prepended / appended text on my input field... any thoughts?

[2019-07-17 21:45] jmeyo commented on #1244
Just to confirm that I had the same problem, can't really dig into it, but the error was not clear indeed:

`Unknown "flash" function. Did you mean "sonata_flashmessages_get", "sonata_flashmessages_types", "mopa_bootstrap_flash_mapping"?`

Workaround is fine for me for now

[2019-07-18 17:13] vanniekerkalex commented on #1246
Hi @isometriks

Do you have tips for me to get this working? I'd appreciate any advice.

Thanks!

[2020-04-04 15:25] #953 closed

[2020-09-21 08:42] deguif opened #1248 "Bundle dead?"
It seems this bundle is dead.
There is no support for Symfony 5 and many deprecations triggered on Symfony 4.

Would it be possible to add some new maintainers to bring this bundle back to life?

[2020-09-24 10:07] phiamo commented on #1248
hi, if you have surplus feel free to create a pr!
I am not sure about isometriks time atm, but i could review it and then decide about new maintainers 😇

[2020-09-25 10:07] deguif commented on #1248
Hi @phiamo

Thanks for your answer.
I'm going to propose several PRs to bring this bundle back to life.

Here's a starter: #1249

[2020-09-29 13:00] phiamo commented on #1245
Does anybody know a hoster for os sf doc projects?

[2020-10-01 09:34] #1248 closed

[2020-10-03 08:49] phiamo commented on #1248
Thanks a lot!

François-Xavier de Guillebon <notifications@github.com> schrieb am Do., 1.
Okt. 2020, 11:35:

[2021-05-17 22:54] Danita commented on #859
Please reopen this. I've been tearing my hair out for the past 2 hours and I can't still find a way to override the form options, neither from the builder nor from twig.

[code]

[2021-05-17 23:50] isometriks commented on #859
@Danita what is your form builder code? Passing in view options via twig unfortunately only affect the element you override because the form and options are already built. If you do it in the builder it should cascade to the other elements.

[2021-05-18 01:31] Danita commented on #859
I managed to get it working with the builder. But I'm a frontender, and I come from BraincraftedBootstrapBundle, where this was possible directly from twig. Every option dealing with presentation was available from the template, where it should be. Now I have to ask the backend to modify things that belong to the frontend.

[2021-05-18 02:13] isometriks commented on #859
Ok right, I'm very sorry you had a poor experience with the free software other people wrote for you to use that is barely maintained anymore due to Symfony having their own bootstrap templates.